In [3]:
import pandas as pd

data = pd.read_csv('data/csv/game.csv')

In [4]:
data.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [23]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

# 1. 팀 목록 가져오기
nba_teams = teams.get_teams()
print(nba_teams[:5])  # 상위 5개 팀 출력

# 골든스테이트 워리어스 (Golden State Warriors) 팀 ID 가져오기
team_id = [team for team in nba_teams if team['full_name'] == 'Golden State Warriors'][0]['id']
print(f"Golden State Warriors Team ID: {team_id}")

# 2. 특정 팀의 경기 기록 가져오기
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id)
games = gamefinder.get_data_frames()[0]  # DataFrame 형태로 반환
print(games.head())  # 최근 경기 5개 출력

# 3. 경기 결과 필터링
recent_games = games[['GAME_DATE', 'MATCHUP', 'PTS', 'FG_PCT', 'REB', 'AST']]
print(recent_games)

[{'id': 1610612737, 'full_name': 'Atlanta Hawks', 'abbreviation': 'ATL', 'nickname': 'Hawks', 'city': 'Atlanta', 'state': 'Georgia', 'year_founded': 1949}, {'id': 1610612738, 'full_name': 'Boston Celtics', 'abbreviation': 'BOS', 'nickname': 'Celtics', 'city': 'Boston', 'state': 'Massachusetts', 'year_founded': 1946}, {'id': 1610612739, 'full_name': 'Cleveland Cavaliers', 'abbreviation': 'CLE', 'nickname': 'Cavaliers', 'city': 'Cleveland', 'state': 'Ohio', 'year_founded': 1970}, {'id': 1610612740, 'full_name': 'New Orleans Pelicans', 'abbreviation': 'NOP', 'nickname': 'Pelicans', 'city': 'New Orleans', 'state': 'Louisiana', 'year_founded': 2002}, {'id': 1610612741, 'full_name': 'Chicago Bulls', 'abbreviation': 'CHI', 'nickname': 'Bulls', 'city': 'Chicago', 'state': 'Illinois', 'year_founded': 1966}]
Golden State Warriors Team ID: 1610612744
  SEASON_ID     TEAM_ID TEAM_ABBREVIATION              TEAM_NAME     GAME_ID  \
0     22024  1610612744               GSW  Golden State Warriors  0022400784
1     22024  1610612744               GSW  Golden State Warriors  0022400782
2     22024  1610612744               GSW  Golden State Warriors  0022400760
3     22024  1610612744               GSW  Golden State Warriors  0022400745
4     22024  1610612744               GSW  Golden State Warriors  0022400731

    GAME_DATE    MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB   REB  AST  \
0  2025-02-13  GSW @ HOU  W  240  105  ...   0.889   9.0  33.0  42.0   26
1  2025-02-12  GSW @ DAL  L  239  107  ...   0.833  18.0  32.0  50.0   29
2  2025-02-10  GSW @ MIL  W  238  125  ...   0.789  15.0  33.0  48.0   27
3  2025-02-08  GSW @ CHI  W  241  132  ...   0.852  16.0  28.0  44.0   34
4  2025-02-06  GSW @ LAL  L  239  112  ...   0.700  10.0  30.0  40.0   29

   STL  BLK  TOV  PF  PLUS_MINUS
0   13    6   10  18         7.0
1    9    6   15  16        -4.0
2   16    2    9  23        14.0
3    8    7   14  23        21.0
4    8    2   12  25        -8.0

[5 rows x 28 columns]
       GAME_DATE      MATCHUP  PTS  FG_PCT   REB  AST
0     2025-02-13    GSW @ HOU  105   0.393  42.0   26
1     2025-02-12    GSW @ DAL  107   0.427  50.0   29
2     2025-02-10    GSW @ MIL  125   0.441  48.0   27
3     2025-02-08    GSW @ CHI  132   0.500  44.0   34
4     2025-02-06    GSW @ LAL  112   0.406  40.0   29
...          ...          ...  ...     ...   ...  ...
3768  1983-11-05  GOS vs. NYK  102   0.380  43.0   20
3769  1983-11-03    GOS @ UTH  112   0.383  53.0   22
3770  1983-11-01    GOS @ KCK  114   0.462  30.0   29
3771  1983-10-29  GOS vs. POR   97   0.447  43.0   21
3772  1983-10-28    GOS @ SEA  110   0.472  47.0   26

[3773 rows x 6 columns]

In [31]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

nba_teams = teams.get_teams()

team_ids = []
for team in nba_teams:
    team_ids.append(team.get('id'))

game_data = []
for team in team_ids:
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team)
    games = gamefinder.get_data_frames()[0]
    game_data.append(games)

In [8]:
games[-10:-1]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
3763,21983,1610612744,GOS,Golden State Warriors,0028300102,1983-11-15,GOS vs. SAN,W,240,115,...,0.656,16.0,24.0,40.0,26,12,2,12,26,NaN
3764,21983,1610612744,GOS,Golden State Warriors,0028300097,1983-11-13,GOS @ PHX,L,240,98,...,0.718,13.0,25.0,38.0,15,12,3,18,27,NaN
3765,21983,1610612744,GOS,Golden State Warriors,0028300087,1983-11-12,GOS vs. CLE,W,240,109,...,0.660,19.0,32.0,51.0,23,6,2,20,32,NaN
3766,21983,1610612744,GOS,Golden State Warriors,0028300076,1983-11-10,GOS vs. PHX,L,240,99,...,0.781,13.0,22.0,35.0,16,8,3,18,30,NaN
3767,21983,1610612744,GOS,Golden State Warriors,0028300060,1983-11-08,GOS vs. ATL,W,240,97,...,0.723,17.0,29.0,46.0,21,9,3,18,26,NaN
3768,21983,1610612744,GOS,Golden State Warriors,0028300048,1983-11-05,GOS vs. NYK,W,240,102,...,0.711,25.0,18.0,43.0,20,16,4,17,27,NaN
3769,21983,1610612744,GOS,Golden State Warriors,0028300040,1983-11-03,GOS @ UTH,L,240,112,...,0.880,27.0,26.0,53.0,22,11,4,19,31,NaN
3770,21983,1610612744,GOS,Golden State Warriors,0028300029,1983-11-01,GOS @ KCK,L,240,114,...,0.750,12.0,18.0,30.0,29,15,3,16,28,NaN
3771,21983,1610612744,GOS,Golden State Warriors,0028300013,1983-10-29,GOS vs. POR,W,240,97,...,0.725,12.0,31.0,43.0,21,9,1,16,37,NaN

In [26]:
teams = []
for team in nba_teams:
    teams.append(team.get('full_name'))
print(teams)

['Atlanta Hawks', 'Boston Celtics', 'Cleveland Cavaliers', 'New Orleans Pelicans', 'Chicago Bulls', 'Dallas Mavericks', 'Denver Nuggets', 'Golden State Warriors', 'Houston Rockets', 'Los Angeles Clippers', 'Los Angeles Lakers', 'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves', 'Brooklyn Nets', 'New York Knicks', 'Orlando Magic', 'Indiana Pacers', 'Philadelphia 76ers', 'Phoenix Suns', 'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs', 'Oklahoma City Thunder', 'Toronto Raptors', 'Utah Jazz', 'Memphis Grizzlies', 'Washington Wizards', 'Detroit Pistons', 'Charlotte Hornets']

In [14]:
nba_teams[0].get('full_name')

'Atlanta Hawks'

In [ ]:
# 2. 특정 팀의 경기 기록 가져오기
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id)
games = gamefinder.get_data_frames()[0]  # DataFrame 형태로 반환
print(games.head())  # 최근 경기 5개 출력

In [28]:
import time
game_data = []
for team in teams:
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team)
    games = gamefinder.get_data_frames()[0]
    game_data.append(games)

KeyError: 'resultSet'

In [29]:
for team in teams:
    print(team)

Atlanta Hawks
Boston Celtics
Cleveland Cavaliers
New Orleans Pelicans
Chicago Bulls
Dallas Mavericks
Denver Nuggets
Golden State Warriors
Houston Rockets
Los Angeles Clippers
Los Angeles Lakers
Miami Heat
Milwaukee Bucks
Minnesota Timberwolves
Brooklyn Nets
New York Knicks
Orlando Magic
Indiana Pacers
Philadelphia 76ers
Phoenix Suns
Portland Trail Blazers
Sacramento Kings
San Antonio Spurs
Oklahoma City Thunder
Toronto Raptors
Utah Jazz
Memphis Grizzlies
Washington Wizards
Detroit Pistons
Charlotte Hornets

In [22]:
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=teams[0])
games = gamefinder.get_data_frames()[0]

KeyError: 'resultSet'

In [35]:
game_data[1]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612738,BOS,Boston Celtics,0022400769,2025-02-12,BOS vs. SAS,W,238,116,...,0.667,15,41,56,25,3,5,15,12,13.0
1,22024,1610612738,BOS,Boston Celtics,0022400759,2025-02-10,BOS @ MIA,W,239,103,...,1.000,3,49,52,24,4,5,6,11,18.0
2,22024,1610612738,BOS,Boston Celtics,0022400748,2025-02-08,BOS @ NYK,W,241,131,...,0.833,11,37,48,21,6,7,10,21,27.0
3,22024,1610612738,BOS,Boston Celtics,0022400728,2025-02-06,BOS vs. DAL,L,243,120,...,0.800,11,29,40,30,2,6,14,17,-7.0
4,22024,1610612738,BOS,Boston Celtics,0022400710,2025-02-04,BOS @ CLE,W,240,112,...,0.833,15,38,53,26,10,6,12,21,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3972,21983,1610612738,BOS,Boston Celtics,0028300052,1983-11-05,BOS @ WAS,W,240,120,...,0.778,5,28,33,36,7,7,16,26,NaN
3973,21983,1610612738,BOS,Boston Celtics,0028300043,1983-11-04,BOS vs. IND,W,240,121,...,0.841,11,34,45,28,8,5,22,26,NaN
3974,21983,1610612738,BOS,Boston Celtics,0028300033,1983-11-02,BOS vs. MIL,W,240,119,...,0.816,14,24,38,26,7,7,18,18,NaN
3975,21983,1610612738,BOS,Boston Celtics,0028300019,1983-10-29,BOS @ CLE,W,240,108,...,0.690,13,31,44,25,12,7,13,22,NaN
3976,21983,1610612738,BOS,Boston Celtics,0028300006,1983-10-28,BOS @ DET,L,240,121,...,0.909,12,35,47,23,9,6,22,38,NaN

In [ ]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

nba_teams = teams.get_teams()

team_ids = []
for team in nba_teams:
    team_ids.append(team.get('id'))

game_data = []
for team in team_ids:
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team)
    games = gamefinder.get_data_frames()[0]
    game_data.append(games)

In [36]:
all_games = pd.concat(game_data, ignore_index=True)

# 합쳐진 데이터 출력
print(all_games.head())

  SEASON_ID     TEAM_ID TEAM_ABBREVIATION      TEAM_NAME     GAME_ID  \
0     22024  1610612737               ATL  Atlanta Hawks  0022400773
1     22024  1610612737               ATL  Atlanta Hawks  0022400756
2     22024  1610612737               ATL  Atlanta Hawks  0022400744
3     22024  1610612737               ATL  Atlanta Hawks  0022400736
4     22024  1610612737               ATL  Atlanta Hawks  0022400719

    GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB   REB  AST  \
0  2025-02-12    ATL @ NYK  L  264  148  ...   0.686  19.0  28.0  47.0   43
1  2025-02-10    ATL @ ORL  W  240  112  ...   0.857   6.0  33.0  39.0   29
2  2025-02-08    ATL @ WAS  W  240  125  ...   0.765   8.0  33.0  41.0   36
3  2025-02-07  ATL vs. MIL  W  240  115  ...   0.667  11.0  41.0  52.0   29
4  2025-02-05  ATL vs. SAS  L  240  125  ...   0.722   8.0  37.0  45.0   33

    STL  BLK  TOV  PF  PLUS_MINUS
0  12.0   10   12  29        -1.0
1  10.0    3   16  17         6.0
2   6.0    7   11  19        14.0
3   6.0    6   11  14         5.0
4   5.0    5   20  14        -1.0

[5 rows x 28 columns]

In [37]:
all_games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612737,ATL,Atlanta Hawks,0022400773,2025-02-12,ATL @ NYK,L,264,148,...,0.686,19.0,28.0,47.0,43,12.0,10,12,29,-1.0
1,22024,1610612737,ATL,Atlanta Hawks,0022400756,2025-02-10,ATL @ ORL,W,240,112,...,0.857,6.0,33.0,39.0,29,10.0,3,16,17,6.0
2,22024,1610612737,ATL,Atlanta Hawks,0022400744,2025-02-08,ATL @ WAS,W,240,125,...,0.765,8.0,33.0,41.0,36,6.0,7,11,19,14.0
3,22024,1610612737,ATL,Atlanta Hawks,0022400736,2025-02-07,ATL vs. MIL,W,240,115,...,0.667,11.0,41.0,52.0,29,6.0,6,11,14,5.0
4,22024,1610612737,ATL,Atlanta Hawks,0022400719,2025-02-05,ATL vs. SAS,L,240,125,...,0.722,8.0,37.0,45.0,33,5.0,5,20,14,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107761,21988,1610612766,CHH,Charlotte Hornets,0028800062,1988-11-12,CHH @ ATL,L,238,111,...,0.813,14.0,21.0,35.0,30,12.0,2,19,26,NaN
107762,21988,1610612766,CHH,Charlotte Hornets,0028800052,1988-11-11,CHH @ WAS,L,240,87,...,0.760,11.0,32.0,43.0,22,9.0,1,23,26,NaN
107763,21988,1610612766,CHH,Charlotte Hornets,0028800024,1988-11-08,CHH vs. LAC,W,240,117,...,0.738,17.0,38.0,55.0,28,9.0,1,17,31,NaN
107764,21988,1610612766,CHH,Charlotte Hornets,0028800015,1988-11-05,CHH @ DET,L,240,85,...,1.000,21.0,19.0,40.0,18,8.0,6,11,21,NaN
107765,21988,1610612766,CHH,Charlotte Hornets,0028800008,1988-11-04,CHH vs. CLE,L,240,93,...,0.650,7.0,24.0,31.0,27,8.0,1,24,25,NaN

In [39]:
# 'game_id' 열을 기준으로 중복된 행 제거
all_games = all_games.drop_duplicates(subset=['GAME_ID'], keep='first')

# 제거된 데이터 확인
print(all_games.head())

  SEASON_ID     TEAM_ID TEAM_ABBREVIATION      TEAM_NAME     GAME_ID  \
0     22024  1610612737               ATL  Atlanta Hawks  0022400773
1     22024  1610612737               ATL  Atlanta Hawks  0022400756
2     22024  1610612737               ATL  Atlanta Hawks  0022400744
3     22024  1610612737               ATL  Atlanta Hawks  0022400736
4     22024  1610612737               ATL  Atlanta Hawks  0022400719

    GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB   REB  AST  \
0  2025-02-12    ATL @ NYK  L  264  148  ...   0.686  19.0  28.0  47.0   43
1  2025-02-10    ATL @ ORL  W  240  112  ...   0.857   6.0  33.0  39.0   29
2  2025-02-08    ATL @ WAS  W  240  125  ...   0.765   8.0  33.0  41.0   36
3  2025-02-07  ATL vs. MIL  W  240  115  ...   0.667  11.0  41.0  52.0   29
4  2025-02-05  ATL vs. SAS  L  240  125  ...   0.722   8.0  37.0  45.0   33

    STL  BLK  TOV  PF  PLUS_MINUS
0  12.0   10   12  29        -1.0
1  10.0    3   16  17         6.0
2   6.0    7   11  19        14.0
3   6.0    6   11  14         5.0
4   5.0    5   20  14        -1.0

[5 rows x 28 columns]

In [44]:
all_games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [51]:
int(all_games['GAME_DATE'][0][:4])

2025

In [48]:
all_games['GAME_DATE']

0    2025-02-12
1    2025-02-10
2    2025-02-08
3    2025-02-07
Name: GAME_DATE, dtype: object

In [52]:
import pandas as pd

# 'all_games'는 데이터를 불러온 DataFrame이라고 가정

# 1. 2020년 이후의 데이터만 필터링
all_games['GAME_DATE'] = pd.to_datetime(all_games['GAME_DATE'])  # GAME_DATE를 datetime 형식으로 변환
filtered_games = all_games[all_games['GAME_DATE'] >= '2020-01-01']  # 2020년 이후 게임 필터링

# 2. 승패 라벨링 (1: 승리, 0: 패배)
filtered_games['WL_label'] = filtered_games['WL'].map({'W': 1, 'L': 0})

# 3. 팀별 성적 계산 (각 팀의 총 득점, 평균 득점 등)
team_stats = filtered_games.groupby('TEAM_ABBREVIATION').agg({
    'PTS': 'sum',           # 총 득점
    'FG_PCT': 'mean',       # 평균 필드골 성공률
    'FG3_PCT': 'mean',      # 평균 3점슛 성공률
    'FT_PCT': 'mean',       # 평균 자유투 성공률
    'REB': 'sum',           # 총 리바운드
    'AST': 'sum',           # 총 어시스트
    'STL': 'sum',           # 총 스틸
    'BLK': 'sum',           # 총 블록
    'TOV': 'sum',           # 총 턴오버
    'PF': 'sum',            # 총 파울
    'PLUS_MINUS': 'sum'     # 총 득점 차
}).reset_index()

# 4. 상대팀과의 경기 정보 추가
# 'MATCHUP'에서 상대팀을 추출
filtered_games['OPPONENT'] = filtered_games['MATCHUP'].apply(lambda x: x.split('vs')[1].strip() if 'vs' in x else None)

# 각 경기별 상대팀의 성적 정보 추가
opponent_stats = filtered_games.groupby('OPPONENT').agg({
    'PTS': 'sum',           # 총 득점
    'FG_PCT': 'mean',       # 평균 필드골 성공률
    'FG3_PCT': 'mean',      # 평균 3점슛 성공률
    'FT_PCT': 'mean',       # 평균 자유투 성공률
    'REB': 'sum',           # 총 리바운드
    'AST': 'sum',           # 총 어시스트
    'STL': 'sum',           # 총 스틸
    'BLK': 'sum',           # 총 블록
    'TOV': 'sum',           # 총 턴오버
    'PF': 'sum',            # 총 파울
    'PLUS_MINUS': 'sum'     # 총 득점 차
}).reset_index()

# 상대팀 데이터와 주 팀 데이터를 합치기
merged_games = pd.merge(filtered_games, opponent_stats, left_on='OPPONENT', right_on='OPPONENT', suffixes=('_team', '_opponent'))

# 5. 최근 5경기 성적 변수 추가
# 최근 5경기 성적을 위해 경기 데이터를 팀별로 그룹화 후, 각 팀의 최근 5경기 데이터를 계산합니다.
recent_games = []
for team in merged_games['TEAM_ABBREVIATION'].unique():
    team_games = merged_games[merged_games['TEAM_ABBREVIATION'] == team].sort_values(by='GAME_DATE', ascending=False)
    team_games['Recent_5_Win_Rate'] = team_games['WL_label'].rolling(window=5, min_periods=1).mean()  # 최근 5경기 승률
    recent_games.append(team_games)

# 결과를 합쳐서 최종 데이터셋을 생성
final_games = pd.concat(recent_games, ignore_index=True)

# 확인해보자
print(final_games.head())

  SEASON_ID     TEAM_ID TEAM_ABBREVIATION      TEAM_NAME     GAME_ID  \
0     22024  1610612737               ATL  Atlanta Hawks  0022400736
1     22024  1610612737               ATL  Atlanta Hawks  0022400719
2     22024  1610612737               ATL  Atlanta Hawks  0022400532
3     22024  1610612737               ATL  Atlanta Hawks  0022400639
4     22024  1610612737               ATL  Atlanta Hawks  0022400623

   GAME_DATE      MATCHUP WL  MIN  PTS_team  ...  FG3_PCT_opponent  \
0 2025-02-07  ATL vs. MIL  W  240       115  ...          0.367330
1 2025-02-05  ATL vs. SAS  L  240       125  ...          0.378906
2 2025-01-28  ATL vs. HOU  L  240        96  ...          0.360108
3 2025-01-25  ATL vs. TOR  L  238        94  ...          0.365607
4 2025-01-23  ATL vs. TOR  L  240       119  ...          0.365607

   FT_PCT_opponent  REB_opponent  AST_opponent  STL_opponent  BLK_opponent  \
0         0.788282        4612.0          2645         754.0           460
1         0.755778        7884.0          4432        1262.0           832
2         0.779523        2897.0          1689         509.0           362
3         0.789869        8512.0          5135        1340.0          1030
4         0.789869        8512.0          5135        1340.0          1030

   TOV_opponent  PF_opponent  PLUS_MINUS_opponent  Recent_5_Win_Rate
0          1252         1930                228.2           1.000000
1          2243         3162               1034.8           0.500000
2           843         1366                346.2           0.333333
3          2809         3653                576.2           0.250000
4          2809         3653                576.2           0.200000

[5 rows x 42 columns]

C:\Users\4545\AppData\Local\Temp\ipykernel_11904\2330467539.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_games['GAME_DATE'] = pd.to_datetime(all_games['GAME_DATE'])  # GAME_DATE를 datetime 형식으로 변환
C:\Users\4545\AppData\Local\Temp\ipykernel_11904\2330467539.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_games['WL_label'] = filtered_games['WL'].map({'W': 1, 'L': 0})
C:\Users\4545\AppData\Local\Temp\ipykernel_11904\2330467539.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_games['OPPONENT'] = filtered_games['MATCHUP'].apply(lambda x: x.split('vs')[1].strip() if 'vs' in x else None)

In [54]:
final_games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS_team', 'FGM', 'FGA',
       'FG_PCT_team', 'FG3M', 'FG3A', 'FG3_PCT_team', 'FTM', 'FTA',
       'FT_PCT_team', 'OREB', 'DREB', 'REB_team', 'AST_team', 'STL_team',
       'BLK_team', 'TOV_team', 'PF_team', 'PLUS_MINUS_team', 'WL_label',
       'OPPONENT', 'PTS_opponent', 'FG_PCT_opponent', 'FG3_PCT_opponent',
       'FT_PCT_opponent', 'REB_opponent', 'AST_opponent', 'STL_opponent',
       'BLK_opponent', 'TOV_opponent', 'PF_opponent', 'PLUS_MINUS_opponent',
       'Recent_5_Win_Rate'],
      dtype='object')

In [55]:
team_stats

,TEAM_ABBREVIATION,PTS,FG_PCT,FG3_PCT,FT_PCT,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,ATL,54787,0.465579,0.357798,0.801135,21293.0,12047,3620.0,2235,6290,9346,-360.0
1,BKN,28555,0.470066,0.356319,0.778051,11109.0,6422,1789.0,1340,3506,5062,-38.2
2,BOS,58775,0.467820,0.368672,0.799678,23248.0,12856,3654.0,2915,6561,9718,3285.2
3,CHA,179,0.450000,0.214000,0.803500,75.0,33,18.0,9,23,41,31.0
4,CHI,41695,0.471364,0.357811,0.791989,16343.0,9414,2885.0,1683,4987,7177,-316.8
5,CLE,45966,0.473221,0.358826,0.762543,18032.0,10761,3158.0,1891,5708,7668,518.6
6,DAL,49409,0.467424,0.361621,0.759689,18737.0,10361,3025.0,2006,5332,8730,823.0
7,DEN,49307,0.487057,0.366322,0.780768,19093.0,11949,3276.0,2006,5720,8361,1351.0
8,DET,1972,0.456944,0.320778,0.714056,863.0,470,131.0,76,267,393,-41.0
9,GSW,42382,0.463963,0.366361,0.766804,16977.0,10424,2981.0,1722,5600,7864,739.2
10,HOU,38426,0.451159,0.341006,0.748633,15459.0,7944,2814.0,1717,5026,7193,-807.0
11,IND,21172,0.475384,0.356357,0.782281,7951.0,5028,1506.0,1122,2560,3751,18.6
12,LAC,36689,0.475190,0.384813,0.799477,14377.0,7896,2476.0,1551,4351,6327,1189.8
13,LAL,36089,0.472198,0.350827,0.760003,14349.0,8051,2357.0,1777,4610,5997,88.0
14,MEM,4338,0.464158,0.342658,0.763026,1883.0,1029,369.0,240,555,724,389.4
15,MIA,36186,0.462151,0.363048,0.800467,14215.0,8372,2591.0,1232,4443,6326,682.2
16,MIL,34819,0.474673,0.368263,0.755153,14094.0,7579,2187.0,1445,4043,5558,1284.6
17,MIN,27369,0.468310,0.362025,0.779058,10461.0,6133,1964.0,1361,3467,4998,236.2
18,NOP,48073,0.469727,0.351904,0.766811,19279.0,11023,3530.0,1979,6019,8384,65.8
19,NYK,26669,0.461950,0.352000,0.763419,10965.0,5607,1734.0,1108,2970,4694,814.4
20,OKC,10341,0.465630,0.357859,0.788370,4084.0,2294,784.0,503,1244,1781,251.0
21,ORL,21687,0.454303,0.345577,0.774438,8766.0,4758,1539.0,1007,2754,3906,-423.6
22,PHI,19695,0.474606,0.364486,0.801097,7493.0,4287,1473.0,1013,2308,3615,873.6
23,PHX,19789,0.480326,0.365337,0.804201,7619.0,4681,1392.0,887,2388,3416,676.2
24,POR,16692,0.454252,0.361172,0.768179,6569.0,3457,1209.0,821,2064,3088,-256.8
25,SAC,14012,0.476369,0.358843,0.765587,5176.0,3164,963.0,550,1590,2461,94.8
26,SAS,13449,0.451545,0.338260,0.756520,5490.0,3225,906.0,702,1635,2287,-345.4
27,TOR,9174,0.458244,0.347451,0.766537,3568.0,2137,754.0,414,1070,1758,189.2
28,UTA,6684,0.475175,0.384053,0.796561,2645.0,1424,392.0,329,851,1116,322.8
29,WAS,4555,0.465293,0.343951,0.788390,1902.0,1008,300.0,249,584,793,152.0

In [56]:
opponent_stats

,OPPONENT,PTS,FG_PCT,FG3_PCT,FT_PCT,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,. ADL,255,0.507500,0.382500,0.878500,90.0,56,17.0,11,31,37,23.0
1,. BKN,12998,0.462765,0.363948,0.780704,5164.0,2752,865.0,578,1495,2199,205.6
2,. BOS,1476,0.485154,0.365769,0.785923,569.0,315,82.0,66,176,227,-37.0
3,. CHA,25562,0.474973,0.369536,0.779000,10229.0,6044,1698.0,1149,3209,4346,1249.2
4,. CHI,4086,0.478200,0.361371,0.826686,1537.0,945,253.0,177,422,612,170.0
5,. CHN,93,0.465000,0.243000,0.857000,33.0,19,12.0,5,10,28,27.0
6,. CLE,2405,0.482810,0.404571,0.816286,948.0,540,155.0,105,280,394,146.0
7,. CNS,279,0.548500,0.398000,0.812000,105.0,66,32.0,14,32,38,104.0
8,. DAL,4052,0.484371,0.377400,0.778229,1539.0,923,255.0,152,417,633,88.4
9,. DEN,5013,0.475978,0.352778,0.756511,1880.0,1203,380.0,193,581,828,42.4
10,. DET,24864,0.482468,0.362817,0.784477,9569.0,5515,1803.0,1205,2910,4158,1544.4
11,. FLA,109,0.493000,0.394000,0.800000,39.0,24,16.0,4,15,15,33.0
12,. GSW,6469,0.464368,0.356456,0.770316,2486.0,1441,448.0,256,764,1062,28.6
13,. HOU,7548,0.475277,0.360108,0.779523,2897.0,1689,509.0,362,843,1366,346.2
14,. IND,17423,0.477087,0.361667,0.795967,6767.0,3796,1137.0,719,1959,2821,411.2
15,. LAC,9516,0.465976,0.368859,0.756024,3744.0,2137,633.0,340,1030,1672,69.0
16,. LAL,11914,0.475390,0.368590,0.775505,4601.0,2773,839.0,442,1418,2182,331.0
17,. MEM,27193,0.462349,0.366154,0.770608,10619.0,6233,1915.0,1449,3475,4815,297.6
18,. MIA,11013,0.467461,0.356902,0.790569,4393.0,2552,711.0,448,1433,1965,98.0
19,. MIL,11639,0.464854,0.367330,0.788282,4612.0,2645,754.0,460,1252,1930,228.2
20,. MIN,13617,0.471692,0.358975,0.788475,5317.0,3084,937.0,607,1824,2366,76.2
21,. MRA,796,0.557500,0.463667,0.786000,308.0,195,50.0,37,102,113,234.2
22,. NOP,2217,0.461050,0.330800,0.823250,884.0,505,159.0,98,262,383,40.2
23,. NYK,12751,0.460784,0.359310,0.774845,4943.0,2941,771.0,565,1431,2279,66.8
24,. NZB,592,0.534800,0.419400,0.752400,243.0,133,60.0,25,83,106,172.0
25,. OKC,22064,0.456975,0.346553,0.765638,9367.0,5022,1526.0,1047,2897,3862,405.6
26,. ORL,15474,0.465837,0.362454,0.773071,6340.0,3501,1072.0,663,1959,2795,838.2
27,. PHI,18685,0.470418,0.359247,0.776376,7430.0,4149,1131.0,821,2364,3301,141.2
28,. PHX,18596,0.462262,0.357030,0.772315,7282.0,4009,1290.0,690,2256,3312,-84.4
29,. POR,19143,0.483055,0.369267,0.790636,7380.0,4430,1345.0,885,2130,3166,1386.6
30,. SAC,19721,0.474138,0.366546,0.796822,7717.0,4479,1365.0,802,2427,3412,251.6
31,. SAS,19836,0.484807,0.378906,0.755778,7884.0,4432,1262.0,832,2243,3162,1034.8
32,. SKT,91,0.452000,0.323000,0.781000,32.0,20,8.0,2,15,17,1.0
33,. TOR,21573,0.474550,0.365607,0.789869,8512.0,5135,1340.0,1030,2809,3653,576.2
34,. ULM,111,0.524000,0.208000,0.720000,48.0,23,9.0,5,17,17,11.0
35,. UTA,24676,0.476581,0.367828,0.776265,9241.0,5483,1774.0,1096,2480,4230,697.4
36,. WAS,24475,0.476581,0.365124,0.789689,9611.0,5386,1680.0,1113,2740,4151,1527.2

In [58]:
final_games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS_team', 'FGM', 'FGA',
       'FG_PCT_team', 'FG3M', 'FG3A', 'FG3_PCT_team', 'FTM', 'FTA',
       'FT_PCT_team', 'OREB', 'DREB', 'REB_team', 'AST_team', 'STL_team',
       'BLK_team', 'TOV_team', 'PF_team', 'PLUS_MINUS_team', 'WL_label',
       'OPPONENT', 'PTS_opponent', 'FG_PCT_opponent', 'FG3_PCT_opponent',
       'FT_PCT_opponent', 'REB_opponent', 'AST_opponent', 'STL_opponent',
       'BLK_opponent', 'TOV_opponent', 'PF_opponent', 'PLUS_MINUS_opponent',
       'Recent_5_Win_Rate'],
      dtype='object')

In [59]:
final_games['WL_label'] = final_games['WL'].apply(lambda x: 1 if x == 'W' else 0)

In [60]:
final_games['WL_label']

0       1
1       0
2       0
3       0
4       0
       ..
3688    1
3689    0
3690    0
3691    0
3692    1
Name: WL_label, Length: 3693, dtype: int64