In [3]:
import pandas as pd

data = pd.read_csv('data/csv/game.csv')

In [4]:
data.head()

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,24600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,24600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,NaN,NaN,NaN,NaN,NaN,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,24600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,24600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,NaN,NaN,NaN,NaN,NaN,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,24600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,50.0,17,0,Regular Season

In [23]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

# 1. 팀 목록 가져오기
nba_teams = teams.get_teams()
print(nba_teams[:5])  # 상위 5개 팀 출력

# 골든스테이트 워리어스 (Golden State Warriors) 팀 ID 가져오기
team_id = [team for team in nba_teams if team['full_name'] == 'Golden State Warriors'][0]['id']
print(f"Golden State Warriors Team ID: {team_id}")

# 2. 특정 팀의 경기 기록 가져오기
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id)
games = gamefinder.get_data_frames()[0]  # DataFrame 형태로 반환
print(games.head())  # 최근 경기 5개 출력

# 3. 경기 결과 필터링
recent_games = games[['GAME_DATE', 'MATCHUP', 'PTS', 'FG_PCT', 'REB', 'AST']]
print(recent_games)

[{'id': 1610612737, 'full_name': 'Atlanta Hawks', 'abbreviation': 'ATL', 'nickname': 'Hawks', 'city': 'Atlanta', 'state': 'Georgia', 'year_founded': 1949}, {'id': 1610612738, 'full_name': 'Boston Celtics', 'abbreviation': 'BOS', 'nickname': 'Celtics', 'city': 'Boston', 'state': 'Massachusetts', 'year_founded': 1946}, {'id': 1610612739, 'full_name': 'Cleveland Cavaliers', 'abbreviation': 'CLE', 'nickname': 'Cavaliers', 'city': 'Cleveland', 'state': 'Ohio', 'year_founded': 1970}, {'id': 1610612740, 'full_name': 'New Orleans Pelicans', 'abbreviation': 'NOP', 'nickname': 'Pelicans', 'city': 'New Orleans', 'state': 'Louisiana', 'year_founded': 2002}, {'id': 1610612741, 'full_name': 'Chicago Bulls', 'abbreviation': 'CHI', 'nickname': 'Bulls', 'city': 'Chicago', 'state': 'Illinois', 'year_founded': 1966}]
Golden State Warriors Team ID: 1610612744
  SEASON_ID     TEAM_ID TEAM_ABBREVIATION              TEAM_NAME     GAME_ID  \
0     22024  1610612744               GSW  Golden State Warriors  0022400784
1     22024  1610612744               GSW  Golden State Warriors  0022400782
2     22024  1610612744               GSW  Golden State Warriors  0022400760
3     22024  1610612744               GSW  Golden State Warriors  0022400745
4     22024  1610612744               GSW  Golden State Warriors  0022400731

    GAME_DATE    MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB   REB  AST  \
0  2025-02-13  GSW @ HOU  W  240  105  ...   0.889   9.0  33.0  42.0   26
1  2025-02-12  GSW @ DAL  L  239  107  ...   0.833  18.0  32.0  50.0   29
2  2025-02-10  GSW @ MIL  W  238  125  ...   0.789  15.0  33.0  48.0   27
3  2025-02-08  GSW @ CHI  W  241  132  ...   0.852  16.0  28.0  44.0   34
4  2025-02-06  GSW @ LAL  L  239  112  ...   0.700  10.0  30.0  40.0   29

   STL  BLK  TOV  PF  PLUS_MINUS
0   13    6   10  18         7.0
1    9    6   15  16        -4.0
2   16    2    9  23        14.0
3    8    7   14  23        21.0
4    8    2   12  25        -8.0

[5 rows x 28 columns]
       GAME_DATE      MATCHUP  PTS  FG_PCT   REB  AST
0     2025-02-13    GSW @ HOU  105   0.393  42.0   26
1     2025-02-12    GSW @ DAL  107   0.427  50.0   29
2     2025-02-10    GSW @ MIL  125   0.441  48.0   27
3     2025-02-08    GSW @ CHI  132   0.500  44.0   34
4     2025-02-06    GSW @ LAL  112   0.406  40.0   29
...          ...          ...  ...     ...   ...  ...
3768  1983-11-05  GOS vs. NYK  102   0.380  43.0   20
3769  1983-11-03    GOS @ UTH  112   0.383  53.0   22
3770  1983-11-01    GOS @ KCK  114   0.462  30.0   29
3771  1983-10-29  GOS vs. POR   97   0.447  43.0   21
3772  1983-10-28    GOS @ SEA  110   0.472  47.0   26

[3773 rows x 6 columns]

In [31]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

nba_teams = teams.get_teams()

team_ids = []
for team in nba_teams:
    team_ids.append(team.get('id'))

game_data = []
for team in team_ids:
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team)
    games = gamefinder.get_data_frames()[0]
    game_data.append(games)

In [8]:
games[-10:-1]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
3763,21983,1610612744,GOS,Golden State Warriors,0028300102,1983-11-15,GOS vs. SAN,W,240,115,...,0.656,16.0,24.0,40.0,26,12,2,12,26,NaN
3764,21983,1610612744,GOS,Golden State Warriors,0028300097,1983-11-13,GOS @ PHX,L,240,98,...,0.718,13.0,25.0,38.0,15,12,3,18,27,NaN
3765,21983,1610612744,GOS,Golden State Warriors,0028300087,1983-11-12,GOS vs. CLE,W,240,109,...,0.660,19.0,32.0,51.0,23,6,2,20,32,NaN
3766,21983,1610612744,GOS,Golden State Warriors,0028300076,1983-11-10,GOS vs. PHX,L,240,99,...,0.781,13.0,22.0,35.0,16,8,3,18,30,NaN
3767,21983,1610612744,GOS,Golden State Warriors,0028300060,1983-11-08,GOS vs. ATL,W,240,97,...,0.723,17.0,29.0,46.0,21,9,3,18,26,NaN
3768,21983,1610612744,GOS,Golden State Warriors,0028300048,1983-11-05,GOS vs. NYK,W,240,102,...,0.711,25.0,18.0,43.0,20,16,4,17,27,NaN
3769,21983,1610612744,GOS,Golden State Warriors,0028300040,1983-11-03,GOS @ UTH,L,240,112,...,0.880,27.0,26.0,53.0,22,11,4,19,31,NaN
3770,21983,1610612744,GOS,Golden State Warriors,0028300029,1983-11-01,GOS @ KCK,L,240,114,...,0.750,12.0,18.0,30.0,29,15,3,16,28,NaN
3771,21983,1610612744,GOS,Golden State Warriors,0028300013,1983-10-29,GOS vs. POR,W,240,97,...,0.725,12.0,31.0,43.0,21,9,1,16,37,NaN

In [26]:
teams = []
for team in nba_teams:
    teams.append(team.get('full_name'))
print(teams)

['Atlanta Hawks', 'Boston Celtics', 'Cleveland Cavaliers', 'New Orleans Pelicans', 'Chicago Bulls', 'Dallas Mavericks', 'Denver Nuggets', 'Golden State Warriors', 'Houston Rockets', 'Los Angeles Clippers', 'Los Angeles Lakers', 'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves', 'Brooklyn Nets', 'New York Knicks', 'Orlando Magic', 'Indiana Pacers', 'Philadelphia 76ers', 'Phoenix Suns', 'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs', 'Oklahoma City Thunder', 'Toronto Raptors', 'Utah Jazz', 'Memphis Grizzlies', 'Washington Wizards', 'Detroit Pistons', 'Charlotte Hornets']

In [14]:
nba_teams[0].get('full_name')

'Atlanta Hawks'

In [ ]:
# 2. 특정 팀의 경기 기록 가져오기
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id)
games = gamefinder.get_data_frames()[0]  # DataFrame 형태로 반환
print(games.head())  # 최근 경기 5개 출력

In [28]:
import time
game_data = []
for team in teams:
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team)
    games = gamefinder.get_data_frames()[0]
    game_data.append(games)

KeyError: 'resultSet'

In [29]:
for team in teams:
    print(team)

Atlanta Hawks
Boston Celtics
Cleveland Cavaliers
New Orleans Pelicans
Chicago Bulls
Dallas Mavericks
Denver Nuggets
Golden State Warriors
Houston Rockets
Los Angeles Clippers
Los Angeles Lakers
Miami Heat
Milwaukee Bucks
Minnesota Timberwolves
Brooklyn Nets
New York Knicks
Orlando Magic
Indiana Pacers
Philadelphia 76ers
Phoenix Suns
Portland Trail Blazers
Sacramento Kings
San Antonio Spurs
Oklahoma City Thunder
Toronto Raptors
Utah Jazz
Memphis Grizzlies
Washington Wizards
Detroit Pistons
Charlotte Hornets

In [22]:
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=teams[0])
games = gamefinder.get_data_frames()[0]

KeyError: 'resultSet'

In [35]:
game_data[1]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612738,BOS,Boston Celtics,0022400769,2025-02-12,BOS vs. SAS,W,238,116,...,0.667,15,41,56,25,3,5,15,12,13.0
1,22024,1610612738,BOS,Boston Celtics,0022400759,2025-02-10,BOS @ MIA,W,239,103,...,1.000,3,49,52,24,4,5,6,11,18.0
2,22024,1610612738,BOS,Boston Celtics,0022400748,2025-02-08,BOS @ NYK,W,241,131,...,0.833,11,37,48,21,6,7,10,21,27.0
3,22024,1610612738,BOS,Boston Celtics,0022400728,2025-02-06,BOS vs. DAL,L,243,120,...,0.800,11,29,40,30,2,6,14,17,-7.0
4,22024,1610612738,BOS,Boston Celtics,0022400710,2025-02-04,BOS @ CLE,W,240,112,...,0.833,15,38,53,26,10,6,12,21,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3972,21983,1610612738,BOS,Boston Celtics,0028300052,1983-11-05,BOS @ WAS,W,240,120,...,0.778,5,28,33,36,7,7,16,26,NaN
3973,21983,1610612738,BOS,Boston Celtics,0028300043,1983-11-04,BOS vs. IND,W,240,121,...,0.841,11,34,45,28,8,5,22,26,NaN
3974,21983,1610612738,BOS,Boston Celtics,0028300033,1983-11-02,BOS vs. MIL,W,240,119,...,0.816,14,24,38,26,7,7,18,18,NaN
3975,21983,1610612738,BOS,Boston Celtics,0028300019,1983-10-29,BOS @ CLE,W,240,108,...,0.690,13,31,44,25,12,7,13,22,NaN
3976,21983,1610612738,BOS,Boston Celtics,0028300006,1983-10-28,BOS @ DET,L,240,121,...,0.909,12,35,47,23,9,6,22,38,NaN

In [85]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

nba_teams = teams.get_teams()

team_ids = []
for team in nba_teams:
    team_ids.append(team.get('id'))

game_data = []
for team in team_ids:
    gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team)
    games = gamefinder.get_data_frames()[0]
    game_data.append(games)

In [94]:
Atlanta = game_data[0]

In [95]:
Atlanta['PLUS_MINUS'].fillna(Atlanta['PLUS_MINUS'].mean())

0       -1.000000
1        6.000000
2       14.000000
3        5.000000
4       -1.000000
          ...
3755    -1.399078
3756    -1.399078
3757    -1.399078
3758    -1.399078
3759    -1.399078
Name: PLUS_MINUS, Length: 3760, dtype: float64

In [7]:
import pandas as pd
game_data[0].head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612737,ATL,Atlanta Hawks,0022400773,2025-02-12,ATL @ NYK,L,264,148,...,0.686,19,28,47,43,12.0,10,12,29,-1.0
1,22024,1610612737,ATL,Atlanta Hawks,0022400756,2025-02-10,ATL @ ORL,W,240,112,...,0.857,6,33,39,29,10.0,3,16,17,6.0
2,22024,1610612737,ATL,Atlanta Hawks,0022400744,2025-02-08,ATL @ WAS,W,240,125,...,0.765,8,33,41,36,6.0,7,11,19,14.0
3,22024,1610612737,ATL,Atlanta Hawks,0022400736,2025-02-07,ATL vs. MIL,W,240,115,...,0.667,11,41,52,29,6.0,6,11,14,5.0
4,22024,1610612737,ATL,Atlanta Hawks,0022400719,2025-02-05,ATL vs. SAS,L,240,125,...,0.722,8,37,45,33,5.0,5,20,14,-1.0

In [8]:
Atlanta = game_data[0]

In [19]:
a = Atlanta['WL'][1:6] == 'W'
a.sum()

5

In [35]:
Atlanta['WinFlag'] = Atlanta['WL'].apply(lambda x : 1 if x == 'W' else 0)

In [44]:
def calc_recent_win_rate(row, df):
    import numpy as np
    result = 0
    if row.name <= max(Atlanta.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['WinFlag'].mean()
    elif max(Atlanta.index)-5 < row.name < max(Atlanta.index):
        recent_games = df.iloc[row.name+1:max(Atlanta.index)]
        result = recent_games['WinFlag'].mean()
    else :
        result =  np.nan
    return result

# 적용
Atlanta['Win_Rate_Last_5_Custom'] = Atlanta.apply(calc_recent_win_rate, axis=1, df=Atlanta)

In [47]:
Atlanta.loc[:, ['WL', 'Win_Rate_Last_5_Custom']][:50]

   WL  Win_Rate_Last_5_Custom
0   L                     0.8
1   W                     0.6
2   W                     0.4
3   W                     0.2
4   L                     0.2
5   W                     0.0
6   L                     0.0
7   L                     0.0
8   L                     0.0
9   L                     0.2
10  L                     0.4
11  L                     0.6
12  L                     0.6
13  L                     0.8
14  W                     0.6
15  W                     0.4
16  W                     0.2
17  L                     0.4
18  W                     0.4
19  L                     0.6
20  L                     0.8
21  L                     0.8
22  W                     0.6
23  W                     0.4
24  W                     0.4
25  W                     0.2
26  L                     0.4
27  L                     0.6
28  L                     0.8
29  W                     0.8
30  L                     1.0
31  W                     1.0
32  W                     0.8
33  W                     0.6
34  W                     0.4
35  W                     0.4
36  W                     0.2
37  L                     0.4
38  L                     0.6
39  L                     0.6
40  W                     0.4
41  L                     0.6
42  W                     0.4
43  W                     0.4
44  L                     0.4
45  L                     0.4
46  W                     0.2
47  L                     0.2
48  W                     0.2
49  L                     0.4

In [31]:
def func(row):
    if row.name < Atlanta.index - 5:
        a = row['WL'][row.name+1:row.name+6] == 'W'
        a = 5/(a.sum())
    return a

In [40]:
max(Atlanta.index)

3759

In [30]:
type(Atlanta.iloc[0].name)

int

In [28]:
Atlanta.reset_index(drop=True)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612737,ATL,Atlanta Hawks,0022400773,2025-02-12,ATL @ NYK,L,264,148,...,0.686,19,28,47,43,12.0,10,12,29,-1.0
1,22024,1610612737,ATL,Atlanta Hawks,0022400756,2025-02-10,ATL @ ORL,W,240,112,...,0.857,6,33,39,29,10.0,3,16,17,6.0
2,22024,1610612737,ATL,Atlanta Hawks,0022400744,2025-02-08,ATL @ WAS,W,240,125,...,0.765,8,33,41,36,6.0,7,11,19,14.0
3,22024,1610612737,ATL,Atlanta Hawks,0022400736,2025-02-07,ATL vs. MIL,W,240,115,...,0.667,11,41,52,29,6.0,6,11,14,5.0
4,22024,1610612737,ATL,Atlanta Hawks,0022400719,2025-02-05,ATL vs. SAS,L,240,125,...,0.722,8,37,45,33,5.0,5,20,14,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,21983,1610612737,ATL,Atlanta Hawks,0028300058,1983-11-06,ATL @ MIL,L,240,84,...,0.667,11,26,37,18,4.0,5,14,24,NaN
3756,21983,1610612737,ATL,Atlanta Hawks,0028300041,1983-11-04,ATL vs. CHI,W,240,103,...,0.692,19,27,46,31,14.0,13,18,27,NaN
3757,21983,1610612737,ATL,Atlanta Hawks,0028300027,1983-11-01,ATL vs. WAS,W,240,95,...,0.633,12,29,41,20,7.0,10,16,34,NaN
3758,21983,1610612737,ATL,Atlanta Hawks,0028300014,1983-10-29,ATL vs. DET,W,240,117,...,0.633,27,21,48,28,14.0,7,23,35,NaN
3759,21983,1610612737,ATL,Atlanta Hawks,0028300005,1983-10-28,ATL @ NJN,L,240,108,...,0.684,15,18,33,14,10.0,5,17,30,NaN

In [52]:
round(Atlanta.PTS.mean())

102

In [61]:
def mean_pts(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['PTS'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['PTS'].mean()
    else :
        result =  np.nan
    return result

# 적용
Atlanta['MEAN_PTS_RECENT_5GAMES'] = Atlanta.apply(mean_pts, axis=1, df=Atlanta)

In [63]:
Atlanta['MEAN_PTS_RECENT_5GAMES']

0       121.8
1       124.8
2       122.8
3       119.0
4       112.4
        ...
3755    105.0
3756    106.0
3757    117.0
3758      NaN
3759      NaN
Name: MEAN_PTS_RECENT_5GAMES, Length: 3760, dtype: float64

In [54]:
Atlanta['MEAN_PTS_RECENT_5GAMES']

0       0.8
1       0.6
2       0.4
3       0.2
4       0.2
       ...
3755    1.0
3756    1.0
3757    1.0
3758    NaN
3759    NaN
Name: MEAN_PTS_RECENT_5GAMES, Length: 3760, dtype: float64

In [55]:
Atlanta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3760 entries, 0 to 3759
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SEASON_ID               3760 non-null   object
 1   TEAM_ID                 3760 non-null   int64
 2   TEAM_ABBREVIATION       3760 non-null   object
 3   TEAM_NAME               3760 non-null   object
 4   GAME_ID                 3760 non-null   object
 5   GAME_DATE               3760 non-null   object
 6   MATCHUP                 3760 non-null   object
 7   WL                      3760 non-null   object
 8   MIN                     3760 non-null   int64
 9   PTS                     3760 non-null   int64
 10  FGM                     3760 non-null   int64
 11  FGA                     3760 non-null   int64
 12  FG_PCT                  3759 non-null   float64
 13  FG3M                    3760 non-null   int64
 14  FG3A                    3760 non-null   int64
 15  FG3_PCT                 3707 non-null   float64
 16  FTM                     3760 non-null   int64
 17  FTA                     3760 non-null   int64
 18  FT_PCT                  3759 non-null   float64
 19  OREB                    3760 non-null   int64
 20  DREB                    3760 non-null   int64
 21  REB                     3760 non-null   int64
 22  AST                     3760 non-null   int64
 23  STL                     3759 non-null   float64
 24  BLK                     3760 non-null   int64
 25  TOV                     3760 non-null   int64
 26  PF                      3760 non-null   int64
 27  PLUS_MINUS              2604 non-null   float64
 28  WinFlag                 3760 non-null   int64
 29  Win_Rate_Last_5_Custom  3758 non-null   float64
 30  MEAN_PTS_RECENT_5GAMES  3758 non-null   float64
dtypes: float64(7), int64(17), object(7)
memory usage: 910.8+ KB

In [64]:
Atlanta['FGM']

0       55
1       38
2       47
3       45
4       48
        ..
3755    32
3756    42
3757    38
3758    49
3759    41
Name: FGM, Length: 3760, dtype: int64

In [ ]:
def mean_win_rate(row, df):
    import numpy as np
    result = 0
    if row.name <= max(Atlanta.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['WinFlag'].mean()
    elif max(Atlanta.index)-5 < row.name < max(Atlanta.index):
        recent_games = df.iloc[row.name+1:max(Atlanta.index)]
        result = recent_games['WinFlag'].mean()
    else :
        result =  np.nan
    return result

def mean_pts(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['PTS'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['PTS'].mean()
    else :
        result =  np.nan
    return result

In [65]:
Atlanta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3760 entries, 0 to 3759
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SEASON_ID               3760 non-null   object
 1   TEAM_ID                 3760 non-null   int64
 2   TEAM_ABBREVIATION       3760 non-null   object
 3   TEAM_NAME               3760 non-null   object
 4   GAME_ID                 3760 non-null   object
 5   GAME_DATE               3760 non-null   object
 6   MATCHUP                 3760 non-null   object
 7   WL                      3760 non-null   object
 8   MIN                     3760 non-null   int64
 9   PTS                     3760 non-null   int64
 10  FGM                     3760 non-null   int64
 11  FGA                     3760 non-null   int64
 12  FG_PCT                  3759 non-null   float64
 13  FG3M                    3760 non-null   int64
 14  FG3A                    3760 non-null   int64
 15  FG3_PCT                 3707 non-null   float64
 16  FTM                     3760 non-null   int64
 17  FTA                     3760 non-null   int64
 18  FT_PCT                  3759 non-null   float64
 19  OREB                    3760 non-null   int64
 20  DREB                    3760 non-null   int64
 21  REB                     3760 non-null   int64
 22  AST                     3760 non-null   int64
 23  STL                     3759 non-null   float64
 24  BLK                     3760 non-null   int64
 25  TOV                     3760 non-null   int64
 26  PF                      3760 non-null   int64
 27  PLUS_MINUS              2604 non-null   float64
 28  WinFlag                 3760 non-null   int64
 29  Win_Rate_Last_5_Custom  3758 non-null   float64
 30  MEAN_PTS_RECENT_5GAMES  3758 non-null   float64
dtypes: float64(7), int64(17), object(7)
memory usage: 910.8+ KB

In [96]:
def mean_win_rate(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['WinFlag'].mean()
    elif max(Atlanta.index)-5 < row.name < max(Atlanta.index):
        recent_games = df.iloc[row.name+1:max(Atlanta.index)]
        result = recent_games['WinFlag'].mean()
    else :
        result =  np.nan
    return result

def mean_pts(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['PTS'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['PTS'].mean()
    else :
        result =  np.nan
    return result

def mean_fgms(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FGM'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FGM'].mean()
    else :
        result =  np.nan
    return result

def mean_fgas(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FGA'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FGA'].mean()
    else :
        result =  np.nan
    return result

def mean_fg3ms(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FG3M'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FG3M'].mean()
    else :
        result =  np.nan
    return result

def mean_fg3as(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FG3A'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FG3A'].mean()
    else :
        result =  np.nan
    return result

def mean_ftms(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FTM'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FTM'].mean()
    else :
        result =  np.nan
    return result

def mean_ftas(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FTA'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FTA'].mean()
    else :
        result =  np.nan
    return result

def mean_orebs(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['OREB'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['OREB'].mean()
    else :
        result =  np.nan
    return result

def mean_drebs(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['DREB'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['DREB'].mean()
    else :
        result =  np.nan
    return result

def mean_asts(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['AST'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['AST'].mean()
    else :
        result =  np.nan
    return result

def mean_plus_minus(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['PLUS_MINUS'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['PLUS_MINUS'].mean()
    else :
        result =  np.nan
    return result

In [106]:
Atlanta['MEAN_FGMS']

0       44.0
1       45.4
2       44.2
3       42.4
4       39.6
        ...
3755    43.0
3756    43.5
3757    49.0
3758     NaN
3759     NaN
Name: MEAN_FGMS, Length: 3760, dtype: float64

In [138]:
def team_data_handle(datas):
    processed_data = []
    for data in datas:
        data['WinFlag'] = data['WL'].apply(lambda x : 1 if x == 'W' else 0)
        data['Win_Rate_Last_5_Custom'] = data.apply(mean_win_rate, axis=1, df=data)
        data['MEAN_PTS_RECENT_5GAMES'] = data.apply(mean_pts, axis=1, df=data)
        data['MEAN_FGMS'] = data.apply(mean_fgms, axis=1, df=data)
        data['MEAN_FGAS'] = data.apply(mean_fgas, axis=1, df=data)
        data['MEAN_FG3MS'] = data.apply(mean_fg3ms, axis=1, df=data)
        data['MEAN_FG3AS'] = data.apply(mean_fg3as, axis=1, df=data)
        data['MEAN_FTMS'] = data.apply(mean_ftms, axis=1, df=data)
        data['MEAN_FTAS'] = data.apply(mean_ftas, axis=1, df=data)
        data['MEAN_OREB'] = data.apply(mean_orebs, axis=1, df=data)
        data['MEAN_DREB'] = data.apply(mean_drebs, axis=1, df=data)
        data['MEAN_AST'] = data.apply(mean_asts, axis=1, df=data)
        data['MEAN_PLUS_MINUS'] = data.apply(mean_plus_minus, axis=1, df=data)
        data = data.loc[:, ['TEAM_ABBREVIATION', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'Win_Rate_Last_5_Custom', 'MEAN_PTS_RECENT_5GAMES',
                        'MEAN_FGMS', 'MEAN_FGAS', 'MEAN_FG3MS', 'MEAN_FG3AS', 'MEAN_FTMS', 'MEAN_FTAS', 'MEAN_OREB', 'MEAN_DREB',
                        'MEAN_AST', 'MEAN_PLUS_MINUS', 'WL']]
        processed_data.append(data)
    return processed_data

In [111]:
Atlanta.loc[:, ['GAME_ID', 'GAME_DATE']]

         GAME_ID   GAME_DATE
0     0022400773  2025-02-12
1     0022400756  2025-02-10
2     0022400744  2025-02-08
3     0022400736  2025-02-07
4     0022400719  2025-02-05
...          ...         ...
3755  0028300058  1983-11-06
3756  0028300041  1983-11-04
3757  0028300027  1983-11-01
3758  0028300014  1983-10-29
3759  0028300005  1983-10-28

[3760 rows x 2 columns]

In [139]:
game_data = team_data_handle(game_data)

In [122]:
game_data[0].loc[:, ['MEAN_FG3MS':]].round(2)

SyntaxError: invalid syntax (2208542677.py, line 1)

In [140]:
game_round = []
for game in game_data:
    game = game.round(2)
    game_round.append(game)

In [141]:
game_round[0]

,TEAM_ABBREVIATION,GAME_ID,GAME_DATE,MATCHUP,Win_Rate_Last_5_Custom,MEAN_PTS_RECENT_5GAMES,MEAN_FGMS,MEAN_FGAS,MEAN_FG3MS,MEAN_FG3AS,MEAN_FTMS,MEAN_FTAS,MEAN_OREB,MEAN_DREB,MEAN_AST,MEAN_PLUS_MINUS,WL
0,ATL,0022400773,2025-02-12,ATL @ NYK,0.8,121.8,44.0,87.6,15.00,38.20,18.80,24.00,7.60,35.20,30.80,5.2,L
1,ATL,0022400756,2025-02-10,ATL @ ORL,0.6,124.8,45.4,90.2,15.40,39.20,18.60,24.80,8.60,35.20,31.20,3.0,W
2,ATL,0022400744,2025-02-08,ATL @ WAS,0.4,122.8,44.2,88.8,14.40,38.20,20.00,26.80,9.00,33.80,29.60,-4.2,W
3,ATL,0022400736,2025-02-07,ATL vs. MIL,0.2,119.0,42.4,88.2,14.00,40.40,20.20,26.40,8.60,31.80,27.60,-6.0,W
4,ATL,0022400719,2025-02-05,ATL vs. SAS,0.2,112.4,39.6,87.2,13.20,40.60,20.00,26.40,9.80,31.80,25.80,-7.4,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,ATL,0028300058,1983-11-06,ATL @ MIL,1.0,105.0,43.0,87.0,0.33,0.67,18.67,28.67,19.33,25.67,26.33,NaN,L
3756,ATL,0028300041,1983-11-04,ATL vs. CHI,1.0,106.0,43.5,87.5,0.00,0.50,19.00,30.00,19.50,25.00,24.00,NaN,W
3757,ATL,0028300027,1983-11-01,ATL vs. WAS,1.0,117.0,49.0,94.0,0.00,1.00,19.00,30.00,27.00,21.00,28.00,NaN,W
3758,ATL,0028300014,1983-10-29,ATL vs. DET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W
3759,ATL,0028300005,1983-10-28,ATL @ NJN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,L

In [143]:
pd.merge(game_round[0], game_round[1], on='GAME_ID').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202 entries, 0 to 201
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TEAM_ABBREVIATION_x       202 non-null    object
 1   GAME_ID                   202 non-null    object
 2   GAME_DATE_x               202 non-null    object
 3   MATCHUP_x                 202 non-null    object
 4   Win_Rate_Last_5_Custom_x  202 non-null    float64
 5   MEAN_PTS_RECENT_5GAMES_x  202 non-null    float64
 6   MEAN_FGMS_x               202 non-null    float64
 7   MEAN_FGAS_x               202 non-null    float64
 8   MEAN_FG3MS_x              202 non-null    float64
 9   MEAN_FG3AS_x              202 non-null    float64
 10  MEAN_FTMS_x               202 non-null    float64
 11  MEAN_FTAS_x               202 non-null    float64
 12  MEAN_OREB_x               202 non-null    float64
 13  MEAN_DREB_x               202 non-null    float64
 14  MEAN_AST_x                202 non-null    float64
 15  MEAN_PLUS_MINUS_x         130 non-null    float64
 16  WL_x                      202 non-null    object
 17  TEAM_ABBREVIATION_y       202 non-null    object
 18  GAME_DATE_y               202 non-null    object
 19  MATCHUP_y                 202 non-null    object
 20  Win_Rate_Last_5_Custom_y  191 non-null    float64
 21  MEAN_PTS_RECENT_5GAMES_y  202 non-null    float64
 22  MEAN_FGMS_y               202 non-null    float64
 23  MEAN_FGAS_y               202 non-null    float64
 24  MEAN_FG3MS_y              202 non-null    float64
 25  MEAN_FG3AS_y              202 non-null    float64
 26  MEAN_FTMS_y               202 non-null    float64
 27  MEAN_FTAS_y               202 non-null    float64
 28  MEAN_OREB_y               202 non-null    float64
 29  MEAN_DREB_y               202 non-null    float64
 30  MEAN_AST_y                202 non-null    float64
 31  MEAN_PLUS_MINUS_y         130 non-null    float64
 32  WL_y                      202 non-null    object
dtypes: float64(24), object(9)
memory usage: 53.7+ KB

In [150]:
for game in game_round:
    team = game['TEAM_ABBREVIATION'].unique()[0]
    filename = 'data/game_round_' + team + '.csv' 
    game.to_csv(filename)

In [148]:
team = game_round[0]['TEAM_ABBREVIATION'].unique()[0]
filename = 'data/game_round_' + team + '.csv' 
print(filename)

data/game_round_ATL.csv

In [95]:
new_game_data[1]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612739,CLE,Cleveland Cavaliers,0022400774,2025-02-12,CLE @ TOR,W,241,131,...,0.850,13,40,53,34,11,4,13,19,23.0
1,22024,1610612739,CLE,Cleveland Cavaliers,0022400755,2025-02-10,CLE vs. MIN,W,241,128,...,0.750,14,35,49,27,10,5,16,24,21.0
2,22024,1610612739,CLE,Cleveland Cavaliers,0022400735,2025-02-07,CLE @ WAS,W,240,134,...,0.917,15,31,46,32,9,3,14,20,10.0
3,22024,1610612739,CLE,Cleveland Cavaliers,0022400718,2025-02-05,CLE @ DET,W,241,118,...,0.833,11,35,46,28,6,7,23,22,3.0
4,22024,1610612739,CLE,Cleveland Cavaliers,0022400710,2025-02-04,CLE vs. BOS,L,241,105,...,0.846,14,37,51,18,6,1,13,23,-7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3776,21983,1610612739,CLE,Cleveland Cavaliers,0028300047,1983-11-04,CLE vs. DAL,W,240,105,...,1.000,16,34,50,24,8,6,16,29,NaN
3777,21983,1610612739,CLE,Cleveland Cavaliers,0028300031,1983-11-02,CLE vs. HOU,W,240,103,...,0.667,14,35,49,22,8,4,15,21,NaN
3778,21983,1610612739,CLE,Cleveland Cavaliers,0028300030,1983-11-01,CLE @ NJN,L,240,113,...,0.647,11,20,31,24,9,4,27,33,NaN
3779,21983,1610612739,CLE,Cleveland Cavaliers,0028300019,1983-10-29,CLE vs. BOS,L,240,89,...,0.810,16,28,44,16,8,6,19,26,NaN
3780,21983,1610612739,CLE,Cleveland Cavaliers,0028300008,1983-10-28,CLE vs. NYK,L,240,106,...,0.650,18,17,35,22,9,8,18,25,NaN

In [90]:
Atlanta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3760 entries, 0 to 3759
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SEASON_ID               3760 non-null   object
 1   TEAM_ID                 3760 non-null   int64
 2   TEAM_ABBREVIATION       3760 non-null   object
 3   TEAM_NAME               3760 non-null   object
 4   GAME_ID                 3760 non-null   object
 5   GAME_DATE               3760 non-null   object
 6   MATCHUP                 3760 non-null   object
 7   WL                      3760 non-null   object
 8   MIN                     3760 non-null   int64
 9   PTS                     3760 non-null   int64
 10  FGM                     3760 non-null   int64
 11  FGA                     3760 non-null   int64
 12  FG_PCT                  3759 non-null   float64
 13  FG3M                    3760 non-null   int64
 14  FG3A                    3760 non-null   int64
 15  FG3_PCT                 3707 non-null   float64
 16  FTM                     3760 non-null   int64
 17  FTA                     3760 non-null   int64
 18  FT_PCT                  3759 non-null   float64
 19  OREB                    3760 non-null   int64
 20  DREB                    3760 non-null   int64
 21  REB                     3760 non-null   int64
 22  AST                     3760 non-null   int64
 23  STL                     3759 non-null   float64
 24  BLK                     3760 non-null   int64
 25  TOV                     3760 non-null   int64
 26  PF                      3760 non-null   int64
 27  PLUS_MINUS              2604 non-null   float64
 28  WinFlag                 3760 non-null   int64
 29  Win_Rate_Last_5_Custom  3758 non-null   float64
 30  MEAN_PTS_RECENT_5GAMES  3758 non-null   float64
 31  MEAN_FGMS               3758 non-null   float64
 32  MEAN_FGAS               3758 non-null   float64
dtypes: float64(9), int64(17), object(7)
memory usage: 969.5+ KB

In [76]:
Atlanta['MEAN_FGAS'] = Atlanta.apply(mean_fgas, axis=1, df=Atlanta)

In [77]:
Atlanta['MEAN_FGAS']

0       87.6
1       90.2
2       88.8
3       88.2
4       87.2
        ...
3755    87.0
3756    87.5
3757    94.0
3758     NaN
3759     NaN
Name: MEAN_FGAS, Length: 3760, dtype: float64

In [80]:

for games in game_data:

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,STL,BLK,TOV,PF,PLUS_MINUS,WinFlag,Win_Rate_Last_5_Custom,MEAN_PTS_RECENT_5GAMES,MEAN_FGMS,MEAN_FGAS
0,22024,1610612737,ATL,Atlanta Hawks,0022400773,2025-02-12,ATL @ NYK,L,264,148,...,12.0,10,12,29,-1.0,0,0.8,121.8,44.0,87.6
1,22024,1610612737,ATL,Atlanta Hawks,0022400756,2025-02-10,ATL @ ORL,W,240,112,...,10.0,3,16,17,6.0,1,0.6,124.8,45.4,90.2
2,22024,1610612737,ATL,Atlanta Hawks,0022400744,2025-02-08,ATL @ WAS,W,240,125,...,6.0,7,11,19,14.0,1,0.4,122.8,44.2,88.8
3,22024,1610612737,ATL,Atlanta Hawks,0022400736,2025-02-07,ATL vs. MIL,W,240,115,...,6.0,6,11,14,5.0,1,0.2,119.0,42.4,88.2
4,22024,1610612737,ATL,Atlanta Hawks,0022400719,2025-02-05,ATL vs. SAS,L,240,125,...,5.0,5,20,14,-1.0,0,0.2,112.4,39.6,87.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3755,21983,1610612737,ATL,Atlanta Hawks,0028300058,1983-11-06,ATL @ MIL,L,240,84,...,4.0,5,14,24,NaN,0,1.0,105.0,43.0,87.0
3756,21983,1610612737,ATL,Atlanta Hawks,0028300041,1983-11-04,ATL vs. CHI,W,240,103,...,14.0,13,18,27,NaN,1,1.0,106.0,43.5,87.5
3757,21983,1610612737,ATL,Atlanta Hawks,0028300027,1983-11-01,ATL vs. WAS,W,240,95,...,7.0,10,16,34,NaN,1,1.0,117.0,49.0,94.0
3758,21983,1610612737,ATL,Atlanta Hawks,0028300014,1983-10-29,ATL vs. DET,W,240,117,...,14.0,7,23,35,NaN,1,NaN,NaN,NaN,NaN
3759,21983,1610612737,ATL,Atlanta Hawks,0028300005,1983-10-28,ATL @ NJN,L,240,108,...,10.0,5,17,30,NaN,0,NaN,NaN,NaN,NaN

In [87]:
all_game = pd.merge(game_data, axis=1, )

In [88]:
all_game

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,STL,BLK,TOV,PF,PLUS_MINUS,WinFlag,Win_Rate_Last_5_Custom,MEAN_PTS_RECENT_5GAMES,MEAN_FGMS,MEAN_FGAS
0,22024,1610612737,ATL,Atlanta Hawks,0022400773,2025-02-12,ATL @ NYK,L,264,148,...,12.0,10,12,29,-1.0,0.0,0.8,121.8,44.0,87.6
1,22024,1610612737,ATL,Atlanta Hawks,0022400756,2025-02-10,ATL @ ORL,W,240,112,...,10.0,3,16,17,6.0,1.0,0.6,124.8,45.4,90.2
2,22024,1610612737,ATL,Atlanta Hawks,0022400744,2025-02-08,ATL @ WAS,W,240,125,...,6.0,7,11,19,14.0,1.0,0.4,122.8,44.2,88.8
3,22024,1610612737,ATL,Atlanta Hawks,0022400736,2025-02-07,ATL vs. MIL,W,240,115,...,6.0,6,11,14,5.0,1.0,0.2,119.0,42.4,88.2
4,22024,1610612737,ATL,Atlanta Hawks,0022400719,2025-02-05,ATL vs. SAS,L,240,125,...,5.0,5,20,14,-1.0,0.0,0.2,112.4,39.6,87.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3032,21988,1610612766,CHH,Charlotte Hornets,0028800062,1988-11-12,CHH @ ATL,L,238,111,...,12.0,2,19,26,NaN,NaN,NaN,NaN,NaN,NaN
3033,21988,1610612766,CHH,Charlotte Hornets,0028800052,1988-11-11,CHH @ WAS,L,240,87,...,9.0,1,23,26,NaN,NaN,NaN,NaN,NaN,NaN
3034,21988,1610612766,CHH,Charlotte Hornets,0028800024,1988-11-08,CHH vs. LAC,W,240,117,...,9.0,1,17,31,NaN,NaN,NaN,NaN,NaN,NaN
3035,21988,1610612766,CHH,Charlotte Hornets,0028800015,1988-11-05,CHH @ DET,L,240,85,...,8.0,6,11,21,NaN,NaN,NaN,NaN,NaN,NaN
3036,21988,1610612766,CHH,Charlotte Hornets,0028800008,1988-11-04,CHH vs. CLE,L,240,93,...,8.0,1,24,25,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
pd.merge(game_data[0], game_data[1], on=['GAME_ID', 'SEASON_ID', 'GAME_DATE', '')

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,...,FT_PCT_y,OREB_y,DREB_y,REB_y,AST_y,STL_y,BLK_y,TOV_y,PF_y,PLUS_MINUS_y
0,22024,1610612737,ATL,Atlanta Hawks,0022400587,2025-01-18,ATL @ BOS,W,265,119,...,0.870,17,36,53,23,13,6,14,18,-4.0
1,22024,1610612737,ATL,Atlanta Hawks,0022400001,2024-11-12,ATL @ BOS,W,240,117,...,0.815,6,28,34,28,7,5,20,12,-1.0
2,22024,1610612737,ATL,Atlanta Hawks,0022400157,2024-11-04,ATL vs. BOS,L,240,93,...,0.692,11,39,50,27,15,7,12,14,30.0
3,22023,1610612737,ATL,Atlanta Hawks,0022301060,2024-03-28,ATL vs. BOS,W,265,123,...,0.857,9,34,43,28,7,6,12,15,-1.0
4,22023,1610612737,ATL,Atlanta Hawks,0022301034,2024-03-25,ATL vs. BOS,W,241,120,...,0.684,12,26,38,21,7,8,7,16,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,21983,1610612737,ATL,Atlanta Hawks,0028300849,1984-03-30,ATL @ BOS,L,240,96,...,0.767,10,31,41,25,5,4,15,22,NaN
198,21983,1610612737,ATL,Atlanta Hawks,0028300771,1984-03-17,ATL vs. BOS,L,240,88,...,0.800,7,39,46,24,4,6,11,17,NaN
199,21983,1610612737,ATL,Atlanta Hawks,0028300298,1983-12-21,ATL @ BOS,L,240,96,...,0.840,10,23,33,30,10,4,21,20,NaN
200,21983,1610612737,ATL,Atlanta Hawks,0028300240,1983-12-10,ATL vs. BOS,L,240,87,...,0.771,19,29,48,20,13,3,21,21,NaN
201,21983,1610612737,ATL,Atlanta Hawks,0028300158,1983-11-25,ATL @ BOS,L,240,102,...,0.795,29,25,54,24,8,5,10,19,NaN

In [151]:
pd.merge(game_round[0], game_round[1], on='GAME_ID')['MATCH_UP_y']

,TEAM_ABBREVIATION_x,GAME_ID,GAME_DATE_x,MATCHUP_x,Win_Rate_Last_5_Custom_x,MEAN_PTS_RECENT_5GAMES_x,MEAN_FGMS_x,MEAN_FGAS_x,MEAN_FG3MS_x,MEAN_FG3AS_x,...,MEAN_FGAS_y,MEAN_FG3MS_y,MEAN_FG3AS_y,MEAN_FTMS_y,MEAN_FTAS_y,MEAN_OREB_y,MEAN_DREB_y,MEAN_AST_y,MEAN_PLUS_MINUS_y,WL_y
0,ATL,0022400587,2025-01-18,ATL @ BOS,0.6,115.2,42.2,94.0,15.8,41.2,...,88.8,13.8,40.6,16.8,21.0,12.2,32.8,24.8,2.0,L
1,ATL,0022400001,2024-11-12,ATL @ BOS,0.4,114.8,43.4,92.6,12.0,34.0,...,89.4,17.2,52.8,18.2,21.6,8.8,35.6,24.4,8.8,L
2,ATL,0022400157,2024-11-04,ATL vs. BOS,0.2,116.8,42.2,89.4,14.2,39.2,...,90.8,17.6,49.2,24.0,28.6,10.8,31.4,22.0,7.8,W
3,ATL,0022301060,2024-03-28,ATL vs. BOS,0.6,118.4,44.4,90.2,15.0,39.0,...,90.0,17.6,44.0,16.4,21.0,11.6,29.2,27.0,12.8,L
4,ATL,0022301034,2024-03-25,ATL vs. BOS,0.4,116.8,42.8,91.0,15.6,38.2,...,88.4,20.2,46.4,17.8,22.0,11.6,30.2,28.8,18.4,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,ATL,0028300849,1984-03-30,ATL @ BOS,0.2,104.0,44.0,94.6,0.4,1.6,...,84.2,0.4,1.8,21.0,25.8,12.2,26.8,24.0,NaN,W
198,ATL,0028300771,1984-03-17,ATL vs. BOS,0.4,98.0,38.2,82.0,0.0,2.4,...,90.2,0.8,2.4,25.4,30.8,15.2,25.2,25.2,NaN,W
199,ATL,0028300298,1983-12-21,ATL @ BOS,0.6,97.6,37.4,84.0,0.0,1.0,...,82.0,0.8,3.2,27.6,34.4,12.8,29.8,22.0,NaN,W
200,ATL,0028300240,1983-12-10,ATL vs. BOS,0.4,97.0,37.4,79.4,0.6,1.8,...,87.0,1.4,4.0,23.0,29.8,13.6,30.8,26.8,NaN,W
201,ATL,0028300158,1983-11-25,ATL @ BOS,0.8,103.8,40.6,78.2,0.4,0.8,...,92.6,1.0,3.8,22.6,28.4,16.0,33.4,28.0,NaN,W

In [153]:
pd.merge(game_round[0], game_round[1], on='GAME_ID')['MATCHUP_y']

0      BOS vs. ATL
1      BOS vs. ATL
2        BOS @ ATL
3        BOS @ ATL
4        BOS @ ATL
          ...
197    BOS vs. ATL
198      BOS @ ATL
199    BOS vs. ATL
200      BOS @ ATL
201    BOS vs. ATL
Name: MATCHUP_y, Length: 202, dtype: object

In [177]:
team = []
team_ = []
for i in range(len(game_round)-1):
    for j in range(i+1, len(game_round)):
        team_.append(pd.merge(game_round[i], game_round[j], on='GAME_ID'))
    team.append(pd.concat(team_[0:len(game_round)-i]))
    team_ = []

In [168]:
pd.concat(team_[0:2])

,TEAM_ABBREVIATION_x,GAME_ID,GAME_DATE_x,MATCHUP_x,Win_Rate_Last_5_Custom_x,MEAN_PTS_RECENT_5GAMES_x,MEAN_FGMS_x,MEAN_FGAS_x,MEAN_FG3MS_x,MEAN_FG3AS_x,...,MEAN_FGAS_y,MEAN_FG3MS_y,MEAN_FG3AS_y,MEAN_FTMS_y,MEAN_FTAS_y,MEAN_OREB_y,MEAN_DREB_y,MEAN_AST_y,MEAN_PLUS_MINUS_y,WL_y
0,ATL,0022400587,2025-01-18,ATL @ BOS,0.6,115.2,42.2,94.0,15.8,41.2,...,88.8,13.8,40.6,16.8,21.0,12.2,32.8,24.8,2.0,L
1,ATL,0022400001,2024-11-12,ATL @ BOS,0.4,114.8,43.4,92.6,12.0,34.0,...,89.4,17.2,52.8,18.2,21.6,8.8,35.6,24.4,8.8,L
2,ATL,0022400157,2024-11-04,ATL vs. BOS,0.2,116.8,42.2,89.4,14.2,39.2,...,90.8,17.6,49.2,24.0,28.6,10.8,31.4,22.0,7.8,W
3,ATL,0022301060,2024-03-28,ATL vs. BOS,0.6,118.4,44.4,90.2,15.0,39.0,...,90.0,17.6,44.0,16.4,21.0,11.6,29.2,27.0,12.8,L
4,ATL,0022301034,2024-03-25,ATL vs. BOS,0.4,116.8,42.8,91.0,15.6,38.2,...,88.4,20.2,46.4,17.8,22.0,11.6,30.2,28.8,18.4,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,ATL,0028300627,1984-02-21,ATL vs. CLE,0.0,98.8,38.6,89.4,0.2,0.6,...,84.6,0.0,0.8,18.2,25.4,15.4,29.8,24.0,NaN,L
190,ATL,0028300343,1983-12-30,ATL vs. CLE,0.6,99.4,37.8,86.8,0.4,1.2,...,89.4,0.0,1.4,14.6,21.4,13.8,28.8,26.4,NaN,L
191,ATL,0028300337,1983-12-29,ATL @ CLE,0.8,106.6,40.6,88.6,0.4,1.2,...,89.6,0.0,1.6,15.8,23.0,14.0,26.2,25.8,NaN,W
192,ATL,0028300227,1983-12-07,ATL @ CLE,0.4,99.0,38.2,85.2,0.4,1.6,...,84.0,0.6,2.6,23.2,29.2,15.0,29.4,20.4,NaN,W
193,ATL,0028300204,1983-12-03,ATL vs. CLE,0.2,103.0,40.2,88.2,0.8,1.6,...,86.2,0.4,2.2,19.4,25.2,14.4,32.4,22.6,NaN,L

In [187]:
game_true = pd.concat(team[0:len(team)]).reset_index(drop=True)
game_true.to_csv('data/game_true.csv')

In [196]:
game_true = pd.read_csv('data/game_true.csv')

In [197]:
game_true = game_true.drop_duplicates(subset='GAME_ID', keep='first')

In [198]:
WL = game_true.apply(lambda x : 1 if x['WL_x'] == 'W' else 0, axis=1)

In [199]:
game_true = game_true.drop(['WL_x', 'WL_y'], axis=1)

In [201]:
game_true['WL'] = WL

In [202]:
game_true['WL']

0        1
1        1
2        0
3        1
4        1
        ..
24799    1
24800    1
24801    1
24802    1
24803    1
Name: WL, Length: 24781, dtype: int64

In [219]:
game_true.to_csv('data/game_true.csv')

In [215]:
import pandas as pd

game_true = pd.read_csv('data/game_true.csv', index_col=0)

In [213]:
game_true = game_true.iloc[:, 1:]

In [217]:
game_true

,TEAM_ABBREVIATION_x,GAME_ID,GAME_DATE_x,MATCHUP_x,Win_Rate_Last_5_Custom_x,MEAN_PTS_RECENT_5GAMES_x,MEAN_FGMS_x,MEAN_FGAS_x,MEAN_FG3MS_x,MEAN_FG3AS_x,MEAN_FTMS_x,MEAN_FTAS_x,MEAN_OREB_x,MEAN_DREB_x,MEAN_AST_x,MEAN_PLUS_MINUS_x,TEAM_ABBREVIATION_y,GAME_DATE_y,MATCHUP_y,Win_Rate_Last_5_Custom_y,MEAN_PTS_RECENT_5GAMES_y,MEAN_FGMS_y,MEAN_FGAS_y,MEAN_FG3MS_y,MEAN_FG3AS_y,MEAN_FTMS_y,MEAN_FTAS_y,MEAN_OREB_y,MEAN_DREB_y,MEAN_AST_y,MEAN_PLUS_MINUS_y,WL
0,ATL,22400587,2025-01-18,ATL @ BOS,0.6,115.2,42.2,94.0,15.8,41.2,15.0,19.4,12.4,32.4,29.4,-2.0,BOS,2025-01-18,BOS vs. ATL,0.6,110.6,40.0,88.8,13.8,40.6,16.8,21.0,12.2,32.8,24.8,2.0,1
1,ATL,22400001,2024-11-12,ATL @ BOS,0.4,114.8,43.4,92.6,12.0,34.0,16.0,20.6,11.8,31.2,28.8,-4.6,BOS,2024-11-12,BOS vs. ATL,0.8,113.8,39.2,89.4,17.2,52.8,18.2,21.6,8.8,35.6,24.4,8.8,1
2,ATL,22400157,2024-11-04,ATL vs. BOS,0.2,116.8,42.2,89.4,14.2,39.2,18.2,23.2,10.6,31.4,28.6,-6.4,BOS,2024-11-04,BOS @ ATL,0.8,122.4,40.4,90.8,17.6,49.2,24.0,28.6,10.8,31.4,22.0,7.8,0
3,ATL,22301060,2024-03-28,ATL vs. BOS,0.6,118.4,44.4,90.2,15.0,39.0,14.6,19.0,11.6,29.6,30.4,2.6,BOS,2024-03-28,BOS @ ATL,0.8,122.4,44.2,90.0,17.6,44.0,16.4,21.0,11.6,29.2,27.0,12.8,1
4,ATL,22301034,2024-03-25,ATL vs. BOS,0.4,116.8,42.8,91.0,15.6,38.2,15.6,19.4,11.2,30.2,32.6,2.4,BOS,2024-03-25,BOS @ ATL,1.0,124.8,43.4,88.4,20.2,46.4,17.8,22.0,11.6,30.2,28.8,18.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24799,DET,20800338,2008-12-13,DET @ CHA,0.4,96.0,38.4,77.4,4.8,13.4,14.4,18.8,7.2,27.4,22.4,-2.8,CHA,2008-12-13,CHA vs. DET,0.0,89.0,33.4,75.4,6.2,15.0,16.0,22.8,10.6,25.4,19.4,-10.0,1
24800,DET,20800042,2008-11-03,DET @ CHA,0.8,97.2,36.4,82.6,5.4,13.2,19.0,24.2,12.6,30.4,22.0,7.0,CHA,2008-11-03,CHA vs. DET,0.2,92.4,31.8,78.0,3.6,11.8,25.2,33.2,13.4,28.8,18.4,-4.4,1
24801,DET,1520800037,2008-07-18,DET vs. CHA,0.4,74.4,26.4,59.8,2.0,6.6,19.6,26.6,9.0,22.6,12.2,-1.4,CHA,2008-07-18,CHA @ DET,0.4,94.4,33.4,70.6,3.8,10.6,23.8,31.4,11.6,27.0,16.2,2.2,1
24802,DET,20700747,2008-02-10,DET vs. CHA,1.0,96.2,37.2,79.8,6.4,13.8,15.4,21.4,12.4,30.4,24.4,8.8,CHA,2008-02-10,CHA @ DET,0.0,96.4,37.2,86.4,6.6,19.8,15.4,24.6,13.2,30.0,21.6,-17.8,1
24803,DET,20700535,2008-01-12,DET @ CHA,0.6,93.6,35.4,78.8,7.0,16.4,15.8,20.2,9.8,29.4,20.8,3.2,CHA,2008-01-12,CHA vs. DET,0.4,100.2,38.6,80.4,5.6,16.0,17.4,24.0,9.4,34.0,22.8,2.2,1

In [20]:
pd.set_option('display.max_columns', 35)

In [218]:
game_true = game_true.drop(columns=['TEAM_ABBREVIATION_x', 'GAME_ID', 'MATCHUP_x', 'TEAM_ABBREVIATION_y', 'GAME_DATE_y', 'MATCHUP_y'])

In [24]:
game_true = game_true.rename(columns={'GAME_DATE_x':'GAME_DATE'})

In [26]:
import numpy as np
game_true[game_true['MEAN_FGMS_x']!=np.nan]

,GAME_DATE,Win_Rate_Last_5_Custom_x,MEAN_PTS_RECENT_5GAMES_x,MEAN_FGMS_x,MEAN_FGAS_x,MEAN_FG3MS_x,MEAN_FG3AS_x,MEAN_FTMS_x,MEAN_FTAS_x,MEAN_OREB_x,MEAN_DREB_x,MEAN_AST_x,MEAN_PLUS_MINUS_x,Win_Rate_Last_5_Custom_y,MEAN_PTS_RECENT_5GAMES_y,MEAN_FGMS_y,MEAN_FGAS_y,MEAN_FG3MS_y,MEAN_FG3AS_y,MEAN_FTMS_y,MEAN_FTAS_y,MEAN_OREB_y,MEAN_DREB_y,MEAN_AST_y,MEAN_PLUS_MINUS_y,WL
0,2025-01-18,0.6,115.2,42.2,94.0,15.8,41.2,15.0,19.4,12.4,32.4,29.4,-2.0,0.6,110.6,40.0,88.8,13.8,40.6,16.8,21.0,12.2,32.8,24.8,2.0,1
1,2024-11-12,0.4,114.8,43.4,92.6,12.0,34.0,16.0,20.6,11.8,31.2,28.8,-4.6,0.8,113.8,39.2,89.4,17.2,52.8,18.2,21.6,8.8,35.6,24.4,8.8,1
2,2024-11-04,0.2,116.8,42.2,89.4,14.2,39.2,18.2,23.2,10.6,31.4,28.6,-6.4,0.8,122.4,40.4,90.8,17.6,49.2,24.0,28.6,10.8,31.4,22.0,7.8,0
3,2024-03-28,0.6,118.4,44.4,90.2,15.0,39.0,14.6,19.0,11.6,29.6,30.4,2.6,0.8,122.4,44.2,90.0,17.6,44.0,16.4,21.0,11.6,29.2,27.0,12.8,1
4,2024-03-25,0.4,116.8,42.8,91.0,15.6,38.2,15.6,19.4,11.2,30.2,32.6,2.4,1.0,124.8,43.4,88.4,20.2,46.4,17.8,22.0,11.6,30.2,28.8,18.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53780,1990-03-11,1.0,105.0,39.4,86.8,1.4,5.8,24.8,30.0,15.2,33.8,23.0,NaN,0.2,107.2,42.2,86.8,1.8,6.0,21.0,27.4,11.8,27.4,26.6,NaN,1
53781,1989-03-25,0.8,108.6,42.2,84.2,1.8,5.4,22.4,28.8,13.6,29.8,26.0,NaN,0.4,105.4,43.6,93.8,3.6,9.0,14.6,19.4,14.0,28.8,29.4,NaN,1
53782,1988-12-17,0.6,101.6,38.8,81.6,0.4,3.6,23.6,30.0,14.0,30.0,23.4,NaN,0.4,103.6,40.6,93.4,1.8,5.0,20.6,28.0,12.8,29.2,25.4,NaN,1
53783,1988-11-22,0.8,107.4,41.6,81.0,1.2,4.0,23.0,30.8,10.0,31.4,25.0,NaN,0.2,98.2,37.4,86.0,1.2,3.4,22.2,28.4,14.4,26.2,26.4,NaN,1
53784,1988-11-05,0.6,105.8,38.4,78.8,1.0,3.4,28.0,35.0,13.6,29.0,23.8,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [29]:
game_true.drop(columns=['MEAN_PLUS_MINUS_x', 'MEAN_PLUS_MINUS_y']).dropna()

,GAME_DATE,Win_Rate_Last_5_Custom_x,MEAN_PTS_RECENT_5GAMES_x,MEAN_FGMS_x,MEAN_FGAS_x,MEAN_FG3MS_x,MEAN_FG3AS_x,MEAN_FTMS_x,MEAN_FTAS_x,MEAN_OREB_x,MEAN_DREB_x,MEAN_AST_x,Win_Rate_Last_5_Custom_y,MEAN_PTS_RECENT_5GAMES_y,MEAN_FGMS_y,MEAN_FGAS_y,MEAN_FG3MS_y,MEAN_FG3AS_y,MEAN_FTMS_y,MEAN_FTAS_y,MEAN_OREB_y,MEAN_DREB_y,MEAN_AST_y,WL
0,2025-01-18,0.6,115.2,42.2,94.0,15.8,41.2,15.0,19.4,12.4,32.4,29.4,0.6,110.6,40.0,88.8,13.8,40.6,16.8,21.0,12.2,32.8,24.8,1
1,2024-11-12,0.4,114.8,43.4,92.6,12.0,34.0,16.0,20.6,11.8,31.2,28.8,0.8,113.8,39.2,89.4,17.2,52.8,18.2,21.6,8.8,35.6,24.4,1
2,2024-11-04,0.2,116.8,42.2,89.4,14.2,39.2,18.2,23.2,10.6,31.4,28.6,0.8,122.4,40.4,90.8,17.6,49.2,24.0,28.6,10.8,31.4,22.0,0
3,2024-03-28,0.6,118.4,44.4,90.2,15.0,39.0,14.6,19.0,11.6,29.6,30.4,0.8,122.4,44.2,90.0,17.6,44.0,16.4,21.0,11.6,29.2,27.0,1
4,2024-03-25,0.4,116.8,42.8,91.0,15.6,38.2,15.6,19.4,11.2,30.2,32.6,1.0,124.8,43.4,88.4,20.2,46.4,17.8,22.0,11.6,30.2,28.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53779,1990-03-28,0.4,107.0,41.0,84.8,5.0,11.4,20.0,25.6,13.8,31.4,25.6,0.6,104.8,42.6,86.6,2.6,6.4,17.0,22.6,10.4,27.0,28.8,1
53780,1990-03-11,1.0,105.0,39.4,86.8,1.4,5.8,24.8,30.0,15.2,33.8,23.0,0.2,107.2,42.2,86.8,1.8,6.0,21.0,27.4,11.8,27.4,26.6,1
53781,1989-03-25,0.8,108.6,42.2,84.2,1.8,5.4,22.4,28.8,13.6,29.8,26.0,0.4,105.4,43.6,93.8,3.6,9.0,14.6,19.4,14.0,28.8,29.4,1
53782,1988-12-17,0.6,101.6,38.8,81.6,0.4,3.6,23.6,30.0,14.0,30.0,23.4,0.4,103.6,40.6,93.4,1.8,5.0,20.6,28.0,12.8,29.2,25.4,1
53783,1988-11-22,0.8,107.4,41.6,81.0,1.2,4.0,23.0,30.8,10.0,31.4,25.0,0.2,98.2,37.4,86.0,1.2,3.4,22.2,28.4,14.4,26.2,26.4,1

In [34]:
a = game_true.loc[:, ['MEAN_PLUS_MINUS_x']].fillna(game_true['MEAN_PLUS_MINUS_x'].mean())
b = game_true.loc[:, ['MEAN_PLUS_MINUS_y']].fillna(game_true['MEAN_PLUS_MINUS_y'].mean())

In [38]:
game_true_test = game_true

In [40]:
game_true_test['MEAN_PLUS_MINUS_x'] = a
game_true_test['MEAN_PLUS_MINUS_y'] = b

In [44]:
game_true_test_1 = game_true_test.dropna().round(2)

In [45]:
game_true_test_1.to_csv('data/game_true_test_1.csv')

In [46]:
game_true_test_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52674 entries, 0 to 53783
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   GAME_DATE                 52674 non-null  object
 1   Win_Rate_Last_5_Custom_x  52674 non-null  float64
 2   MEAN_PTS_RECENT_5GAMES_x  52674 non-null  float64
 3   MEAN_FGMS_x               52674 non-null  float64
 4   MEAN_FGAS_x               52674 non-null  float64
 5   MEAN_FG3MS_x              52674 non-null  float64
 6   MEAN_FG3AS_x              52674 non-null  float64
 7   MEAN_FTMS_x               52674 non-null  float64
 8   MEAN_FTAS_x               52674 non-null  float64
 9   MEAN_OREB_x               52674 non-null  float64
 10  MEAN_DREB_x               52674 non-null  float64
 11  MEAN_AST_x                52674 non-null  float64
 12  MEAN_PLUS_MINUS_x         52674 non-null  float64
 13  Win_Rate_Last_5_Custom_y  52674 non-null  float64
 14  MEAN_PTS_RECENT_5GAMES_y  52674 non-null  float64
 15  MEAN_FGMS_y               52674 non-null  float64
 16  MEAN_FGAS_y               52674 non-null  float64
 17  MEAN_FG3MS_y              52674 non-null  float64
 18  MEAN_FG3AS_y              52674 non-null  float64
 19  MEAN_FTMS_y               52674 non-null  float64
 20  MEAN_FTAS_y               52674 non-null  float64
 21  MEAN_OREB_y               52674 non-null  float64
 22  MEAN_DREB_y               52674 non-null  float64
 23  MEAN_AST_y                52674 non-null  float64
 24  MEAN_PLUS_MINUS_y         52674 non-null  float64
 25  WL                        52674 non-null  int64
dtypes: float64(24), int64(1), object(1)
memory usage: 10.9+ MB

In [27]:
game_true.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53759 entries, 0 to 53784
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   GAME_DATE                 53759 non-null  object
 1   Win_Rate_Last_5_Custom_x  53073 non-null  float64
 2   MEAN_PTS_RECENT_5GAMES_x  53730 non-null  float64
 3   MEAN_FGMS_x               53730 non-null  float64
 4   MEAN_FGAS_x               53730 non-null  float64
 5   MEAN_FG3MS_x              53730 non-null  float64
 6   MEAN_FG3AS_x              53730 non-null  float64
 7   MEAN_FTMS_x               53730 non-null  float64
 8   MEAN_FTAS_x               53730 non-null  float64
 9   MEAN_OREB_x               53730 non-null  float64
 10  MEAN_DREB_x               53730 non-null  float64
 11  MEAN_AST_x                53730 non-null  float64
 12  MEAN_PLUS_MINUS_x         39120 non-null  float64
 13  Win_Rate_Last_5_Custom_y  53108 non-null  float64
 14  MEAN_PTS_RECENT_5GAMES_y  53728 non-null  float64
 15  MEAN_FGMS_y               53728 non-null  float64
 16  MEAN_FGAS_y               53728 non-null  float64
 17  MEAN_FG3MS_y              53728 non-null  float64
 18  MEAN_FG3AS_y              53728 non-null  float64
 19  MEAN_FTMS_y               53728 non-null  float64
 20  MEAN_FTAS_y               53728 non-null  float64
 21  MEAN_OREB_y               53728 non-null  float64
 22  MEAN_DREB_y               53728 non-null  float64
 23  MEAN_AST_y                53728 non-null  float64
 24  MEAN_PLUS_MINUS_y         39115 non-null  float64
 25  WL                        53759 non-null  int64
dtypes: float64(24), int64(1), object(1)
memory usage: 11.1+ MB

In [49]:
correlation_matrix = game_true_test_1.drop(columns=['GAME_DATE']).corr()
print(correlation_matrix)

                          Win_Rate_Last_5_Custom_x  MEAN_PTS_RECENT_5GAMES_x  \
Win_Rate_Last_5_Custom_x                  1.000000                  0.354389
MEAN_PTS_RECENT_5GAMES_x                  0.354389                  1.000000
MEAN_FGMS_x                               0.286609                  0.896256
MEAN_FGAS_x                              -0.025908                  0.665276
MEAN_FG3MS_x                              0.139693                  0.356151
MEAN_FG3AS_x                              0.066001                  0.289209
MEAN_FTMS_x                               0.156718                  0.293516
MEAN_FTAS_x                               0.112270                  0.199790
MEAN_OREB_x                              -0.073897                  0.022483
MEAN_DREB_x                               0.318633                  0.348387
MEAN_AST_x                                0.304782                  0.696170
MEAN_PLUS_MINUS_x                         0.727858                  0.360736
Win_Rate_Last_5_Custom_y                 -0.007429                 -0.020601
MEAN_PTS_RECENT_5GAMES_y                  0.027870                  0.508103
MEAN_FGMS_y                               0.021810                  0.482866
MEAN_FGAS_y                               0.018152                  0.468095
MEAN_FG3MS_y                              0.028971                  0.212846
MEAN_FG3AS_y                              0.028810                  0.214692
MEAN_FTMS_y                              -0.005471                  0.041177
MEAN_FTAS_y                              -0.012164                 -0.012237
MEAN_OREB_y                              -0.018759                  0.002014
MEAN_DREB_y                               0.013448                  0.213632
MEAN_AST_y                                0.019061                  0.375208
MEAN_PLUS_MINUS_y                        -0.005868                 -0.020742
WL                                        0.152609                  0.088388

                          MEAN_FGMS_x  MEAN_FGAS_x  MEAN_FG3MS_x  \
Win_Rate_Last_5_Custom_x     0.286609    -0.025908      0.139693
MEAN_PTS_RECENT_5GAMES_x     0.896256     0.665276      0.356151
MEAN_FGMS_x                  1.000000     0.752491      0.105919
MEAN_FGAS_x                  0.752491     1.000000      0.143418
MEAN_FG3MS_x                 0.105919     0.143418      1.000000
MEAN_FG3AS_x                 0.044266     0.159935      0.967896
MEAN_FTMS_x                  0.063381    -0.043176     -0.354628
MEAN_FTAS_x                  0.005574    -0.089524     -0.408298
MEAN_OREB_x                  0.152364     0.399945     -0.483777
MEAN_DREB_x                  0.239254     0.278994      0.476777
MEAN_AST_x                   0.763279     0.513014      0.153241
MEAN_PLUS_MINUS_x            0.302258     0.017366      0.182011
Win_Rate_Last_5_Custom_y    -0.019766    -0.016437     -0.010669
MEAN_PTS_RECENT_5GAMES_y     0.483007     0.447414      0.203861
MEAN_FGMS_y                  0.512635     0.461710      0.029027
MEAN_FGAS_y                  0.477157     0.467303      0.131845
MEAN_FG3MS_y                 0.030014     0.102810      0.771908
MEAN_FG3AS_y                 0.023855     0.104516      0.803894
MEAN_FTMS_y                  0.101208     0.045243     -0.333865
MEAN_FTAS_y                  0.055010     0.001839     -0.385378
MEAN_OREB_y                  0.114274     0.068313     -0.422544
MEAN_DREB_y                  0.122442     0.197021      0.434310
MEAN_AST_y                   0.405957     0.369300     -0.000195
MEAN_PLUS_MINUS_y           -0.017733    -0.007433     -0.022658
WL                           0.067541    -0.005549      0.052482

                          MEAN_FG3AS_x  MEAN_FTMS_x  MEAN_FTAS_x  MEAN_OREB_x  \
Win_Rate_Last_5_Custom_x      0.066001     0.156718     0.112270    -0.073897
MEAN_PTS_RECENT_5GAMES_x      0.289209     0.293516     0.199790     0.022483
MEAN_FGMS_x                   0.044266     0.063381     0.005574     0.152364
MEAN_FGAS_x                   0.159935    -0.043176    -0.089524     0.399945
MEAN_FG3MS_x                  0.967896    -0.354628    -0.408298    -0.483777
MEAN_FG3AS_x                  1.000000    -0.362013    -0.409823    -0.462578
MEAN_FTMS_x                  -0.362013     1.000000     0.937366     0.239129
MEAN_FTAS_x                  -0.409823     0.937366     1.000000     0.301794
MEAN_OREB_x                  -0.462578     0.239129     0.301794     1.000000
MEAN_DREB_x                   0.488356    -0.111575    -0.148410    -0.265852
MEAN_AST_x                    0.088202     0.003595    -0.046325     0.012212
MEAN_PLUS_MINUS_x             0.096422     0.094934     0.059766    -0.056573
Win_Rate_Last_5_Custom_y     -0.010978     0.000286     0.002635     0.002241
MEAN_PTS_RECENT_5GAMES_y      0.199645     0.065488     0.010474     0.003095
MEAN_FGMS_y                   0.017666     0.119984     0.070022     0.110799
MEAN_FGAS_y                   0.129998     0.049830    -0.003383     0.041630
MEAN_FG3MS_y                  0.800290    -0.323602    -0.372497    -0.432447
MEAN_FG3AS_y                  0.837116    -0.339190    -0.388286    -0.451179
MEAN_FTMS_y                  -0.349335     0.240297     0.257220     0.213620
MEAN_FTAS_y                  -0.400482     0.255206     0.281078     0.236986
MEAN_OREB_y                  -0.438758     0.203595     0.219622     0.304032
MEAN_DREB_y                   0.453587    -0.165504    -0.202006    -0.242127
MEAN_AST_y                   -0.011203     0.100759     0.066394     0.136394
MEAN_PLUS_MINUS_y            -0.022348     0.008152     0.011833     0.013319
WL                            0.040946     0.029002     0.016240    -0.031621

                          MEAN_DREB_x  MEAN_AST_x  MEAN_PLUS_MINUS_x  \
Win_Rate_Last_5_Custom_x     0.318633    0.304782           0.727858
MEAN_PTS_RECENT_5GAMES_x     0.348387    0.696170           0.360736
MEAN_FGMS_x                  0.239254    0.763279           0.302258
MEAN_FGAS_x                  0.278994    0.513014           0.017366
MEAN_FG3MS_x                 0.476777    0.153241           0.182011
MEAN_FG3AS_x                 0.488356    0.088202           0.096422
MEAN_FTMS_x                 -0.111575    0.003595           0.094934
MEAN_FTAS_x                 -0.148410   -0.046325           0.059766
MEAN_OREB_x                 -0.265852    0.012212          -0.056573
MEAN_DREB_x                  1.000000    0.233329           0.308709
MEAN_AST_x                   0.233329    1.000000           0.290345
MEAN_PLUS_MINUS_x            0.308709    0.290345           1.000000
Win_Rate_Last_5_Custom_y    -0.006329   -0.016568          -0.005594
MEAN_PTS_RECENT_5GAMES_y     0.211430    0.382863           0.033904
MEAN_FGMS_y                  0.121014    0.396944           0.026626
MEAN_FGAS_y                  0.217732    0.381442           0.028716
MEAN_FG3MS_y                 0.451827    0.058665           0.033170
MEAN_FG3AS_y                 0.471860    0.054609           0.034539
MEAN_FTMS_y                 -0.183534    0.064619          -0.004772
MEAN_FTAS_y                 -0.222739    0.027793          -0.012631
MEAN_OREB_y                 -0.246064    0.096883          -0.017687
MEAN_DREB_y                  0.349693    0.104478           0.013970
MEAN_AST_y                   0.070793    0.350897           0.025499
MEAN_PLUS_MINUS_y           -0.011636   -0.015340          -0.017371
WL                           0.058287    0.076331           0.148510

                          Win_Rate_Last_5_Custom_y  MEAN_PTS_RECENT_5GAMES_y  \
Win_Rate_Last_5_Custom_x                 -0.007429                  0.027870
MEAN_PTS_RECENT_5GAMES_x                 -0.020601                  0.508103
MEAN_FGMS_x                              -0.019766                  0.483007
MEAN_FGAS_x                              -0.016437                  0.447414
MEAN_FG3MS_x                             -0.010669                  0.203861
MEAN_FG3AS_x                             -0.010978                  0.199645
MEAN_FTMS_x                               0.000286                  0.065488
MEAN_FTAS_x                               0.002635                  0.010474
MEAN_OREB_x                               0.002241                  0.003095
MEAN_DREB_x                              -0.006329                  0.211430
MEAN_AST_x                               -0.016568                  0.382863
MEAN_PLUS_MINUS_x                        -0.005594                  0.033904
Win_Rate_Last_5_Custom_y                  1.000000                  0.308481
MEAN_PTS_RECENT_5GAMES_y                  0.308481                  1.000000
MEAN_FGMS_y                               0.238425                  0.895131
MEAN_FGAS_y                              -0.065596                  0.665946
MEAN_FG3MS_y                              0.092132                  0.339892
MEAN_FG3AS_y                              0.014570                  0.274350
MEAN_FTMS_y                               0.178140                  0.277783
MEAN_FTAS_y                               0.143176                  0.190680
MEAN_OREB_y                              -0.042307                  0.044165
MEAN_DREB_y                               0.309360                  0.338034
MEAN_AST_y                                0.250103                  0.680614
MEAN_PLUS_MINUS_y                         0.725797                  0.307842
WL                                       -0.152520                 -0.038404

                          MEAN_FGMS_y  MEAN_FGAS_y  MEAN_FG3MS_y  \
Win_Rate_Last_5_Custom_x     0.021810     0.018152      0.028971
MEAN_PTS_RECENT_5GAMES_x     0.482866     0.468095      0.212846
MEAN_FGMS_x                  0.512635     0.477157      0.030014
MEAN_FGAS_x                  0.461710     0.467303      0.102810
MEAN_FG3MS_x                 0.029027     0.131845      0.771908
MEAN_FG3AS_x                 0.017666     0.129998      0.800290
MEAN_FTMS_x                  0.119984     0.049830     -0.323602
MEAN_FTAS_x                  0.070022    -0.003383     -0.372497
MEAN_OREB_x                  0.110799     0.041630     -0.432447
MEAN_DREB_x                  0.121014     0.217732      0.451827
MEAN_AST_x                   0.396944     0.381442      0.058665
MEAN_PLUS_MINUS_x            0.026626     0.028716      0.033170
Win_Rate_Last_5_Custom_y     0.238425    -0.065596      0.092132
MEAN_PTS_RECENT_5GAMES_y     0.895131     0.665946      0.339892
MEAN_FGMS_y                  1.000000     0.753401      0.100228
MEAN_FGAS_y                  0.753401     1.000000      0.169993
MEAN_FG3MS_y                 0.100228     0.169993      1.000000
MEAN_FG3AS_y                 0.042168     0.191750      0.966943
MEAN_FTMS_y                  0.036912    -0.089438     -0.374265
MEAN_FTAS_y                 -0.010707    -0.128702     -0.431309
MEAN_OREB_y                  0.165319     0.379034     -0.472233
MEAN_DREB_y                  0.229141     0.284280      0.467657
MEAN_AST_y                   0.753674     0.500254      0.089816
MEAN_PLUS_MINUS_y            0.257644    -0.027444      0.113094
WL                          -0.024634     0.032661     -0.007999

                          MEAN_FG3AS_y  MEAN_FTMS_y  MEAN_FTAS_y  MEAN_OREB_y  \
Win_Rate_Last_5_Custom_x      0.028810    -0.005471    -0.012164    -0.018759
MEAN_PTS_RECENT_5GAMES_x      0.214692     0.041177    -0.012237     0.002014
MEAN_FGMS_x                   0.023855     0.101208     0.055010     0.114274
MEAN_FGAS_x                   0.104516     0.045243     0.001839     0.068313
MEAN_FG3MS_x                  0.803894    -0.333865    -0.385378    -0.422544
MEAN_FG3AS_x                  0.837116    -0.349335    -0.400482    -0.438758
MEAN_FTMS_x                  -0.339190     0.240297     0.255206     0.203595
MEAN_FTAS_x                  -0.388286     0.257220     0.281078     0.219622
MEAN_OREB_x                  -0.451179     0.213620     0.236986     0.304032
MEAN_DREB_x                   0.471860    -0.183534    -0.222739    -0.246064
MEAN_AST_x                    0.054609     0.064619     0.027793     0.096883
MEAN_PLUS_MINUS_x             0.034539    -0.004772    -0.012631    -0.017687
Win_Rate_Last_5_Custom_y      0.014570     0.178140     0.143176    -0.042307
MEAN_PTS_RECENT_5GAMES_y      0.274350     0.277783     0.190680     0.044165
MEAN_FGMS_y                   0.042168     0.036912    -0.010707     0.165319
MEAN_FGAS_y                   0.191750    -0.089438    -0.128702     0.379034
MEAN_FG3MS_y                  0.966943    -0.374265    -0.431309    -0.472233
MEAN_FG3AS_y                  1.000000    -0.382805    -0.435313    -0.448204
MEAN_FTMS_y                  -0.382805     1.000000     0.939695     0.242183
MEAN_FTAS_y                  -0.435313     0.939695     1.000000     0.309183
MEAN_OREB_y                  -0.448204     0.242183     0.309183     1.000000
MEAN_DREB_y                   0.477435    -0.109733    -0.146014    -0.250323
MEAN_AST_y                    0.025194     0.028323    -0.012516     0.056080
MEAN_PLUS_MINUS_y             0.022604     0.114697     0.082735    -0.031937
WL                            0.001792    -0.036360    -0.031556     0.005752

                          MEAN_DREB_y  MEAN_AST_y  MEAN_PLUS_MINUS_y        WL
Win_Rate_Last_5_Custom_x     0.013448    0.019061          -0.005868  0.152609
MEAN_PTS_RECENT_5GAMES_x     0.213632    0.375208          -0.020742  0.088388
MEAN_FGMS_x                  0.122442    0.405957          -0.017733  0.067541
MEAN_FGAS_x                  0.197021    0.369300          -0.007433 -0.005549
MEAN_FG3MS_x                 0.434310   -0.000195          -0.022658  0.052482
MEAN_FG3AS_x                 0.453587   -0.011203          -0.022348  0.040946
MEAN_FTMS_x                 -0.165504    0.100759           0.008152  0.029002
MEAN_FTAS_x                 -0.202006    0.066394           0.011833  0.016240
MEAN_OREB_x                 -0.242127    0.136394           0.013319 -0.031621
MEAN_DREB_x                  0.349693    0.070793          -0.011636  0.058287
MEAN_AST_x                   0.104478    0.350897          -0.015340  0.076331
MEAN_PLUS_MINUS_x            0.013970    0.025499          -0.017371  0.148510
Win_Rate_Last_5_Custom_y     0.309360    0.250103           0.725797 -0.152520
MEAN_PTS_RECENT_5GAMES_y     0.338034    0.680614           0.307842 -0.038404
MEAN_FGMS_y                  0.229141    0.753674           0.257644 -0.024634
MEAN_FGAS_y                  0.284280    0.500254          -0.027444  0.032661
MEAN_FG3MS_y                 0.467657    0.089816           0.113094 -0.007999
MEAN_FG3AS_y                 0.477435    0.025194           0.022604  0.001792
MEAN_FTMS_y                 -0.109733    0.028323           0.114697 -0.036360
MEAN_FTAS_y                 -0.146014   -0.012516           0.082735 -0.031556
MEAN_OREB_y                 -0.250323    0.056080          -0.031937  0.005752
MEAN_DREB_y                  1.000000    0.180326           0.286923 -0.049361
MEAN_AST_y                   0.180326    1.000000           0.248880 -0.043787
MEAN_PLUS_MINUS_y            0.286923    0.248880           1.000000 -0.137588
WL                          -0.049361   -0.043787          -0.137588  1.000000

In [50]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 데이터 로드 및 불필요한 컬럼 제거
df = game_true_test_1.drop(columns=["GAME_DATE"])

# 차이 변수 생성
df["PTS_DIFF"] = df["MEAN_PTS_RECENT_5GAMES_x"] - df["MEAN_PTS_RECENT_5GAMES_y"]
df["FGMS_DIFF"] = df["MEAN_FGMS_x"] - df["MEAN_FGMS_y"]
df = df.drop(columns=[col for col in df.columns if col.endswith("_x") or col.endswith("_y")])

# 독립변수와 종속변수 분리
X = df.drop(columns=["WL"])
y = df["WL"]

# 데이터 스케일링
scaler = StandardScaler()
X = scaler.fit_transform(X)

# 훈련/테스트 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [51]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [53]:
# 로지스틱 회귀 모델
logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)

# 예측 및 평가
y_pred_logistic = logistic_model.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_logistic))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_logistic))
print("Classification Report:\n", classification_report(y_test, y_pred_logistic))

Logistic Regression Accuracy: 0.554437588989084
Confusion Matrix:
 [[2656 2433]
 [2261 3185]]
Classification Report:
               precision    recall  f1-score   support

           0       0.54      0.52      0.53      5089
           1       0.57      0.58      0.58      5446

    accuracy                           0.55     10535
   macro avg       0.55      0.55      0.55     10535
weighted avg       0.55      0.55      0.55     10535

In [54]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# 예측 및 평가
y_pred_rf = rf_model.predict(X_test)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_rf))
print("Classification Report:\n", classification_report(y_test, y_pred_rf))

Random Forest Accuracy: 0.5067869008068343
Confusion Matrix:
 [[2517 2572]
 [2624 2822]]
Classification Report:
               precision    recall  f1-score   support

           0       0.49      0.49      0.49      5089
           1       0.52      0.52      0.52      5446

    accuracy                           0.51     10535
   macro avg       0.51      0.51      0.51     10535
weighted avg       0.51      0.51      0.51     10535

In [55]:
# XGBoost 모델
xgb_model = XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=42)
xgb_model.fit(X_train, y_train)

# 예측 및 평가
y_pred_xgb = xgb_model.predict(X_test)
print("XGBoost Accuracy:", accuracy_score(y_test, y_pred_xgb))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_xgb))
print("Classification Report:\n", classification_report(y_test, y_pred_xgb))

XGBoost Accuracy: 0.5396298054105363
Confusion Matrix:
 [[2679 2410]
 [2440 3006]]
Classification Report:
               precision    recall  f1-score   support

           0       0.52      0.53      0.52      5089
           1       0.56      0.55      0.55      5446

    accuracy                           0.54     10535
   macro avg       0.54      0.54      0.54     10535
weighted avg       0.54      0.54      0.54     10535

C:\Users\4545\anaconda3\lib\site-packages\xgboost\core.py:158: UserWarning: [14:36:03] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

In [57]:
game_true.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53759 entries, 0 to 53784
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   GAME_DATE                 53759 non-null  object
 1   Win_Rate_Last_5_Custom_x  53073 non-null  float64
 2   MEAN_PTS_RECENT_5GAMES_x  53730 non-null  float64
 3   MEAN_FGMS_x               53730 non-null  float64
 4   MEAN_FGAS_x               53730 non-null  float64
 5   MEAN_FG3MS_x              53730 non-null  float64
 6   MEAN_FG3AS_x              53730 non-null  float64
 7   MEAN_FTMS_x               53730 non-null  float64
 8   MEAN_FTAS_x               53730 non-null  float64
 9   MEAN_OREB_x               53730 non-null  float64
 10  MEAN_DREB_x               53730 non-null  float64
 11  MEAN_AST_x                53730 non-null  float64
 12  MEAN_PLUS_MINUS_x         53759 non-null  float64
 13  Win_Rate_Last_5_Custom_y  53108 non-null  float64
 14  MEAN_PTS_RECENT_5GAMES_y  53728 non-null  float64
 15  MEAN_FGMS_y               53728 non-null  float64
 16  MEAN_FGAS_y               53728 non-null  float64
 17  MEAN_FG3MS_y              53728 non-null  float64
 18  MEAN_FG3AS_y              53728 non-null  float64
 19  MEAN_FTMS_y               53728 non-null  float64
 20  MEAN_FTAS_y               53728 non-null  float64
 21  MEAN_OREB_y               53728 non-null  float64
 22  MEAN_DREB_y               53728 non-null  float64
 23  MEAN_AST_y                53728 non-null  float64
 24  MEAN_PLUS_MINUS_y         53759 non-null  float64
 25  WL                        53759 non-null  int64
dtypes: float64(24), int64(1), object(1)
memory usage: 13.1+ MB

In [60]:
game_true = pd.read_csv('data/game_true.csv', index_col=0)

In [61]:
game_true

,TEAM_ABBREVIATION_x,GAME_ID,GAME_DATE_x,MATCHUP_x,Win_Rate_Last_5_Custom_x,MEAN_PTS_RECENT_5GAMES_x,MEAN_FGMS_x,MEAN_FGAS_x,MEAN_FG3MS_x,MEAN_FG3AS_x,MEAN_FTMS_x,MEAN_FTAS_x,MEAN_OREB_x,MEAN_DREB_x,MEAN_AST_x,MEAN_PLUS_MINUS_x,TEAM_ABBREVIATION_y,GAME_DATE_y,MATCHUP_y,Win_Rate_Last_5_Custom_y,MEAN_PTS_RECENT_5GAMES_y,MEAN_FGMS_y,MEAN_FGAS_y,MEAN_FG3MS_y,MEAN_FG3AS_y,MEAN_FTMS_y,MEAN_FTAS_y,MEAN_OREB_y,MEAN_DREB_y,MEAN_AST_y,MEAN_PLUS_MINUS_y,WL
0,ATL,22400587,2025-01-18,ATL @ BOS,0.6,115.2,42.2,94.0,15.8,41.2,15.0,19.4,12.4,32.4,29.4,-2.0,BOS,2025-01-18,BOS vs. ATL,0.6,110.6,40.0,88.8,13.8,40.6,16.8,21.0,12.2,32.8,24.8,2.0,1
1,ATL,22400001,2024-11-12,ATL @ BOS,0.4,114.8,43.4,92.6,12.0,34.0,16.0,20.6,11.8,31.2,28.8,-4.6,BOS,2024-11-12,BOS vs. ATL,0.8,113.8,39.2,89.4,17.2,52.8,18.2,21.6,8.8,35.6,24.4,8.8,1
2,ATL,22400157,2024-11-04,ATL vs. BOS,0.2,116.8,42.2,89.4,14.2,39.2,18.2,23.2,10.6,31.4,28.6,-6.4,BOS,2024-11-04,BOS @ ATL,0.8,122.4,40.4,90.8,17.6,49.2,24.0,28.6,10.8,31.4,22.0,7.8,0
3,ATL,22301060,2024-03-28,ATL vs. BOS,0.6,118.4,44.4,90.2,15.0,39.0,14.6,19.0,11.6,29.6,30.4,2.6,BOS,2024-03-28,BOS @ ATL,0.8,122.4,44.2,90.0,17.6,44.0,16.4,21.0,11.6,29.2,27.0,12.8,1
4,ATL,22301034,2024-03-25,ATL vs. BOS,0.4,116.8,42.8,91.0,15.6,38.2,15.6,19.4,11.2,30.2,32.6,2.4,BOS,2024-03-25,BOS @ ATL,1.0,124.8,43.4,88.4,20.2,46.4,17.8,22.0,11.6,30.2,28.8,18.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53780,DET,28900818,1990-03-11,DET @ CHH,1.0,105.0,39.4,86.8,1.4,5.8,24.8,30.0,15.2,33.8,23.0,NaN,CHH,1990-03-11,CHH vs. DET,0.2,107.2,42.2,86.8,1.8,6.0,21.0,27.4,11.8,27.4,26.6,NaN,1
53781,DET,28800832,1989-03-25,DET @ CHH,0.8,108.6,42.2,84.2,1.8,5.4,22.4,28.8,13.6,29.8,26.0,NaN,CHH,1989-03-25,CHH vs. DET,0.4,105.4,43.6,93.8,3.6,9.0,14.6,19.4,14.0,28.8,29.4,NaN,1
53782,DET,28800269,1988-12-17,DET vs. CHH,0.6,101.6,38.8,81.6,0.4,3.6,23.6,30.0,14.0,30.0,23.4,NaN,CHH,1988-12-17,CHH @ DET,0.4,103.6,40.6,93.4,1.8,5.0,20.6,28.0,12.8,29.2,25.4,NaN,1
53783,DET,28800115,1988-11-22,DET @ CHH,0.8,107.4,41.6,81.0,1.2,4.0,23.0,30.8,10.0,31.4,25.0,NaN,CHH,1988-11-22,CHH vs. DET,0.2,98.2,37.4,86.0,1.2,3.4,22.2,28.4,14.4,26.2,26.4,NaN,1
53784,DET,28800015,1988-11-05,DET vs. CHH,0.6,105.8,38.4,78.8,1.0,3.4,28.0,35.0,13.6,29.0,23.8,NaN,CHH,1988-11-05,CHH @ DET,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [65]:
game_true_null = game_true[game_true.isnull().any(axis=1)]

In [72]:
game_true_null.loc[:, ['MEAN_PLUS_MINUS_x', 'MEAN_PLUS_MINUS_y']].isnull().sum()

MEAN_PLUS_MINUS_x    14639
MEAN_PLUS_MINUS_y    14644
dtype: int64

In [73]:
len(game_true_null)

14664

In [74]:
game_true_null_none_plus_minus = game_true_null.drop(columns=['MEAN_PLUS_MINUS_x', 'MEAN_PLUS_MINUS_y'])

In [77]:
game_true_null_none_plus_minus.isnull().sum()

TEAM_ABBREVIATION_x           0
GAME_ID                       0
GAME_DATE_x                   0
MATCHUP_x                     0
Win_Rate_Last_5_Custom_x    686
MEAN_PTS_RECENT_5GAMES_x     29
MEAN_FGMS_x                  29
MEAN_FGAS_x                  29
MEAN_FG3MS_x                 29
MEAN_FG3AS_x                 29
MEAN_FTMS_x                  29
MEAN_FTAS_x                  29
MEAN_OREB_x                  29
MEAN_DREB_x                  29
MEAN_AST_x                   29
TEAM_ABBREVIATION_y           0
GAME_DATE_y                   0
MATCHUP_y                     0
Win_Rate_Last_5_Custom_y    651
MEAN_PTS_RECENT_5GAMES_y     31
MEAN_FGMS_y                  31
MEAN_FGAS_y                  31
MEAN_FG3MS_y                 31
MEAN_FG3AS_y                 31
MEAN_FTMS_y                  31
MEAN_FTAS_y                  31
MEAN_OREB_y                  31
MEAN_DREB_y                  31
MEAN_AST_y                   31
WL                            0
dtype: int64

In [81]:
def fill_null(series):
    print(series['TEAM_ABBREVIATION'] )

In [83]:
fill_null(game_true.iloc[0])

KeyError: 'TEAM_ABBREVIATION'

In [84]:
game_true

,TEAM_ABBREVIATION_x,GAME_ID,GAME_DATE_x,MATCHUP_x,Win_Rate_Last_5_Custom_x,MEAN_PTS_RECENT_5GAMES_x,MEAN_FGMS_x,MEAN_FGAS_x,MEAN_FG3MS_x,MEAN_FG3AS_x,MEAN_FTMS_x,MEAN_FTAS_x,MEAN_OREB_x,MEAN_DREB_x,MEAN_AST_x,MEAN_PLUS_MINUS_x,TEAM_ABBREVIATION_y,GAME_DATE_y,MATCHUP_y,Win_Rate_Last_5_Custom_y,MEAN_PTS_RECENT_5GAMES_y,MEAN_FGMS_y,MEAN_FGAS_y,MEAN_FG3MS_y,MEAN_FG3AS_y,MEAN_FTMS_y,MEAN_FTAS_y,MEAN_OREB_y,MEAN_DREB_y,MEAN_AST_y,MEAN_PLUS_MINUS_y,WL
0,ATL,22400587,2025-01-18,ATL @ BOS,0.6,115.2,42.2,94.0,15.8,41.2,15.0,19.4,12.4,32.4,29.4,-2.0,BOS,2025-01-18,BOS vs. ATL,0.6,110.6,40.0,88.8,13.8,40.6,16.8,21.0,12.2,32.8,24.8,2.0,1
1,ATL,22400001,2024-11-12,ATL @ BOS,0.4,114.8,43.4,92.6,12.0,34.0,16.0,20.6,11.8,31.2,28.8,-4.6,BOS,2024-11-12,BOS vs. ATL,0.8,113.8,39.2,89.4,17.2,52.8,18.2,21.6,8.8,35.6,24.4,8.8,1
2,ATL,22400157,2024-11-04,ATL vs. BOS,0.2,116.8,42.2,89.4,14.2,39.2,18.2,23.2,10.6,31.4,28.6,-6.4,BOS,2024-11-04,BOS @ ATL,0.8,122.4,40.4,90.8,17.6,49.2,24.0,28.6,10.8,31.4,22.0,7.8,0
3,ATL,22301060,2024-03-28,ATL vs. BOS,0.6,118.4,44.4,90.2,15.0,39.0,14.6,19.0,11.6,29.6,30.4,2.6,BOS,2024-03-28,BOS @ ATL,0.8,122.4,44.2,90.0,17.6,44.0,16.4,21.0,11.6,29.2,27.0,12.8,1
4,ATL,22301034,2024-03-25,ATL vs. BOS,0.4,116.8,42.8,91.0,15.6,38.2,15.6,19.4,11.2,30.2,32.6,2.4,BOS,2024-03-25,BOS @ ATL,1.0,124.8,43.4,88.4,20.2,46.4,17.8,22.0,11.6,30.2,28.8,18.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53780,DET,28900818,1990-03-11,DET @ CHH,1.0,105.0,39.4,86.8,1.4,5.8,24.8,30.0,15.2,33.8,23.0,NaN,CHH,1990-03-11,CHH vs. DET,0.2,107.2,42.2,86.8,1.8,6.0,21.0,27.4,11.8,27.4,26.6,NaN,1
53781,DET,28800832,1989-03-25,DET @ CHH,0.8,108.6,42.2,84.2,1.8,5.4,22.4,28.8,13.6,29.8,26.0,NaN,CHH,1989-03-25,CHH vs. DET,0.4,105.4,43.6,93.8,3.6,9.0,14.6,19.4,14.0,28.8,29.4,NaN,1
53782,DET,28800269,1988-12-17,DET vs. CHH,0.6,101.6,38.8,81.6,0.4,3.6,23.6,30.0,14.0,30.0,23.4,NaN,CHH,1988-12-17,CHH @ DET,0.4,103.6,40.6,93.4,1.8,5.0,20.6,28.0,12.8,29.2,25.4,NaN,1
53783,DET,28800115,1988-11-22,DET @ CHH,0.8,107.4,41.6,81.0,1.2,4.0,23.0,30.8,10.0,31.4,25.0,NaN,CHH,1988-11-22,CHH vs. DET,0.2,98.2,37.4,86.0,1.2,3.4,22.2,28.4,14.4,26.2,26.4,NaN,1
53784,DET,28800015,1988-11-05,DET vs. CHH,0.6,105.8,38.4,78.8,1.0,3.4,28.0,35.0,13.6,29.0,23.8,NaN,CHH,1988-11-05,CHH @ DET,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [98]:
Atlanta = game_data[0]

In [105]:
def fill_null_plus_minus(row, df):
    import numpy as np
    result = 0
    if (row['PLUS_MINUS'] == np.nan) & (row.name <= max(df.index)-5):
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['PLUS_MINUS'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['PLUS_MINUS'].mean()
    else :
        result =  np.nan
    return result

In [106]:
game_data[0].apply(fill_null_plus_minus, axis=1, df=game_data[0])

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
3755   NaN
3756   NaN
3757   NaN
3758   NaN
3759   NaN
Length: 3760, dtype: float64

In [116]:
game_data[0]['PLUS_MINUS'].iloc[:1500].isnull().sum()

0

In [127]:
game_data[0]['GAME_DATE'] = pd.to_datetime(game_data[0]['GAME_DATE'])

In [131]:
game_data[0][game_data[0]['GAME_DATE'].dt.year > 2006]['PLUS_MINUS']

0

In [174]:
fashion_game = []
for game in game_data:
    game['GAME_DATE'] = pd.to_datetime(game['GAME_DATE'])
    fashion_game.append(game[game['GAME_DATE'].dt.year > 2007])

In [139]:
big_game_data = pd.concat(game_data, axis=0)

In [150]:
big_game_data[big_game_data['PLUS_MINUS'].isnull()]['GAME_DATE'].dt.year.max()

2007

In [145]:
big_game_data['GAME_DATE'] = pd.to_datetime(big_game_data['GAME_DATE'])

In [151]:
big_game_data

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612737,ATL,Atlanta Hawks,0022400773,2025-02-12,ATL @ NYK,L,264,148,55,110,0.500,14,38.0,0.368,24,35,0.686,19.0,28.0,47.0,43,12.0,10,12,29,-1.0
1,22024,1610612737,ATL,Atlanta Hawks,0022400756,2025-02-10,ATL @ ORL,W,240,112,38,77,0.494,12,32.0,0.375,24,28,0.857,6.0,33.0,39.0,29,10.0,3,16,17,6.0
2,22024,1610612737,ATL,Atlanta Hawks,0022400744,2025-02-08,ATL @ WAS,W,240,125,47,97,0.485,18,44.0,0.409,13,17,0.765,8.0,33.0,41.0,36,6.0,7,11,19,14.0
3,22024,1610612737,ATL,Atlanta Hawks,0022400736,2025-02-07,ATL vs. MIL,W,240,115,45,92,0.489,13,36.0,0.361,12,18,0.667,11.0,41.0,52.0,29,6.0,6,11,14,5.0
4,22024,1610612737,ATL,Atlanta Hawks,0022400719,2025-02-05,ATL vs. SAS,L,240,125,48,91,0.527,16,42.0,0.381,13,18,0.722,8.0,37.0,45.0,33,5.0,5,20,14,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3033,21988,1610612766,CHH,Charlotte Hornets,0028800062,1988-11-12,CHH @ ATL,L,238,111,42,88,0.477,1,3.0,0.333,26,32,0.813,14.0,21.0,35.0,30,12.0,2,19,26,NaN
3034,21988,1610612766,CHH,Charlotte Hornets,0028800052,1988-11-11,CHH @ WAS,L,240,87,34,77,0.442,0,4.0,0.000,19,25,0.760,11.0,32.0,43.0,22,9.0,1,23,26,NaN
3035,21988,1610612766,CHH,Charlotte Hornets,0028800024,1988-11-08,CHH vs. LAC,W,240,117,43,90,0.478,0,2.0,0.000,31,42,0.738,17.0,38.0,55.0,28,9.0,1,17,31,NaN
3036,21988,1610612766,CHH,Charlotte Hornets,0028800015,1988-11-05,CHH @ DET,L,240,85,33,95,0.347,0,1.0,0.000,19,19,1.000,21.0,19.0,40.0,18,8.0,6,11,21,NaN
3037,21988,1610612766,CHH,Charlotte Hornets,0028800008,1988-11-04,CHH vs. CLE,L,240,93,40,86,0.465,0,0.0,NaN,13,20,0.650,7.0,24.0,31.0,27,8.0,1,24,25,NaN

In [156]:
for game in fashion_game:
    print(game.PLUS_MINUS.isnull().sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [158]:
fashion_game[0]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612737,ATL,Atlanta Hawks,0022400773,2025-02-12,ATL @ NYK,L,264,148,55,110,0.500,14,38,0.368,24,35,0.686,19,28,47,43,12.0,10,12,29,-1.0
1,22024,1610612737,ATL,Atlanta Hawks,0022400756,2025-02-10,ATL @ ORL,W,240,112,38,77,0.494,12,32,0.375,24,28,0.857,6,33,39,29,10.0,3,16,17,6.0
2,22024,1610612737,ATL,Atlanta Hawks,0022400744,2025-02-08,ATL @ WAS,W,240,125,47,97,0.485,18,44,0.409,13,17,0.765,8,33,41,36,6.0,7,11,19,14.0
3,22024,1610612737,ATL,Atlanta Hawks,0022400736,2025-02-07,ATL vs. MIL,W,240,115,45,92,0.489,13,36,0.361,12,18,0.667,11,41,52,29,6.0,6,11,14,5.0
4,22024,1610612737,ATL,Atlanta Hawks,0022400719,2025-02-05,ATL vs. SAS,L,240,125,48,91,0.527,16,42,0.381,13,18,0.722,8,37,45,33,5.0,5,20,14,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670,22007,1610612737,ATL,Atlanta Hawks,0020700526,2008-01-11,ATL vs. WAS,L,266,98,41,88,0.466,4,11,0.364,12,22,0.545,14,33,47,30,5.0,4,10,18,-4.0
1671,22007,1610612737,ATL,Atlanta Hawks,0020700510,2008-01-09,ATL vs. CLE,W,242,90,33,72,0.458,0,4,0.000,24,34,0.706,14,33,47,20,6.0,6,17,24,9.0
1672,22007,1610612737,ATL,Atlanta Hawks,0020700484,2008-01-05,ATL vs. NJN,L,239,107,41,84,0.488,2,14,0.143,23,33,0.697,14,33,47,31,13.0,7,21,30,-6.0
1673,22007,1610612737,ATL,Atlanta Hawks,0020700474,2008-01-04,ATL @ IND,L,239,91,32,75,0.427,1,10,0.100,26,32,0.813,7,28,35,12,8.0,7,17,25,-22.0
1674,22007,1610612737,ATL,Atlanta Hawks,0020700460,2008-01-02,ATL @ CLE,L,241,94,31,76,0.408,5,11,0.455,27,34,0.794,12,23,35,13,10.0,2,9,23,-4.0

In [175]:
def mean_win_rate(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['WinFlag'].mean()
    elif max(Atlanta.index)-5 < row.name < max(Atlanta.index):
        recent_games = df.iloc[row.name+1:max(Atlanta.index)]
        result = recent_games['WinFlag'].mean()
    else :
        result =  np.nan
    return result

def mean_pts(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['PTS'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['PTS'].mean()
    else :
        result =  np.nan
    return result

def mean_fgms(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FGM'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FGM'].mean()
    else :
        result =  np.nan
    return result

def mean_fgas(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FGA'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FGA'].mean()
    else :
        result =  np.nan
    return result

def mean_fg3ms(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FG3M'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FG3M'].mean()
    else :
        result =  np.nan
    return result

def mean_fg3as(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FG3A'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FG3A'].mean()
    else :
        result =  np.nan
    return result

def mean_ftms(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FTM'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FTM'].mean()
    else :
        result =  np.nan
    return result

def mean_ftas(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['FTA'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['FTA'].mean()
    else :
        result =  np.nan
    return result

def mean_orebs(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['OREB'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['OREB'].mean()
    else :
        result =  np.nan
    return result

def mean_drebs(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['DREB'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['DREB'].mean()
    else :
        result =  np.nan
    return result

def mean_asts(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['AST'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['AST'].mean()
    else :
        result =  np.nan
    return result

def mean_plus_minus(row, df):
    import numpy as np
    result = 0
    if row.name <= max(df.index)-5:
        recent_games = df.iloc[row.name+1:row.name+6]  # 최근 5경기 슬라이싱
        result = recent_games['PLUS_MINUS'].mean()
    elif max(df.index)-5 < row.name < max(df.index):
        recent_games = df.iloc[row.name+1:max(df.index)]
        result = recent_games['PLUS_MINUS'].mean()
    else :
        result =  np.nan
    return result

def team_data_handle(datas):
    processed_data = []
    for data in datas:
        data = data.copy()
        data['WinFlag'] = data['WL'].apply(lambda x : 1 if x == 'W' else 0)
        data['Win_Rate_Last_5_Custom'] = data.apply(mean_win_rate, axis=1, df=data)
        data['MEAN_PTS_RECENT_5GAMES'] = data.apply(mean_pts, axis=1, df=data)
        data['MEAN_FGMS'] = data.apply(mean_fgms, axis=1, df=data)
        data['MEAN_FGAS'] = data.apply(mean_fgas, axis=1, df=data)
        data['MEAN_FG3MS'] = data.apply(mean_fg3ms, axis=1, df=data)
        data['MEAN_FG3AS'] = data.apply(mean_fg3as, axis=1, df=data)
        data['MEAN_FTMS'] = data.apply(mean_ftms, axis=1, df=data)
        data['MEAN_FTAS'] = data.apply(mean_ftas, axis=1, df=data)
        data['MEAN_OREB'] = data.apply(mean_orebs, axis=1, df=data)
        data['MEAN_DREB'] = data.apply(mean_drebs, axis=1, df=data)
        data['MEAN_AST'] = data.apply(mean_asts, axis=1, df=data)
        data['MEAN_PLUS_MINUS'] = data.apply(mean_plus_minus, axis=1, df=data)
        data = data.loc[:, ['TEAM_ABBREVIATION', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'Win_Rate_Last_5_Custom', 'MEAN_PTS_RECENT_5GAMES',
                        'MEAN_FGMS', 'MEAN_FGAS', 'MEAN_FG3MS', 'MEAN_FG3AS', 'MEAN_FTMS', 'MEAN_FTAS', 'MEAN_OREB', 'MEAN_DREB',
                        'MEAN_AST', 'MEAN_PLUS_MINUS', 'WL']]
        processed_data.append(data)
    return processed_data

In [176]:
game_final = team_data_handle(fashion_game)

In [188]:
game_final

[     TEAM_ABBREVIATION     GAME_ID  GAME_DATE      MATCHUP  \
 0                  ATL  0022400773 2025-02-12    ATL @ NYK
 1                  ATL  0022400756 2025-02-10    ATL @ ORL
 2                  ATL  0022400744 2025-02-08    ATL @ WAS
 3                  ATL  0022400736 2025-02-07  ATL vs. MIL
 4                  ATL  0022400719 2025-02-05  ATL vs. SAS
 ...                ...         ...        ...          ...
 1670               ATL  0020700526 2008-01-11  ATL vs. WAS
 1671               ATL  0020700510 2008-01-09  ATL vs. CLE
 1672               ATL  0020700484 2008-01-05  ATL vs. NJN
 1673               ATL  0020700474 2008-01-04    ATL @ IND
 1674               ATL  0020700460 2008-01-02    ATL @ CLE

       Win_Rate_Last_5_Custom  MEAN_PTS_RECENT_5GAMES  MEAN_FGMS  MEAN_FGAS  \
 0                        0.8                   121.8  44.000000       87.6
 1                        0.6                   124.8  45.400000       90.2
 2                        0.4                   122.8  44.200000       88.8
 3                        0.2                   119.0  42.400000       88.2
 4                        0.2                   112.4  39.600000       87.2
 ...                      ...                     ...        ...        ...
 1670                     NaN                    96.0  35.333333       77.0
 1671                     NaN                    99.0  36.500000       79.5
 1672                     NaN                    91.0  32.000000       75.0
 1673                     NaN                     NaN        NaN        NaN
 1674                     NaN                     NaN        NaN        NaN

       MEAN_FG3MS  MEAN_FG3AS  MEAN_FTMS  MEAN_FTAS  MEAN_OREB  MEAN_DREB  \
 0           15.0   38.200000  18.800000       24.0   7.600000  35.200000
 1           15.4   39.200000  18.600000       24.8   8.600000  35.200000
 2           14.4   38.200000  20.000000       26.8   9.000000  33.800000
 3           14.0   40.400000  20.200000       26.4   8.600000  31.800000
 4           13.2   40.600000  20.000000       26.4   9.800000  31.800000
 ...          ...         ...        ...        ...        ...        ...
 1670         1.0    9.333333  24.333333       33.0  11.666667  31.333333
 1671         1.5   12.000000  24.500000       32.5  10.500000  30.500000
 1672         1.0   10.000000  26.000000       32.0   7.000000  28.000000
 1673         NaN         NaN        NaN        NaN        NaN        NaN
 1674         NaN         NaN        NaN        NaN        NaN        NaN

       MEAN_AST  MEAN_PLUS_MINUS WL
 0         30.8         5.200000  L
 1         31.2         3.000000  W
 2         29.6        -4.200000  W
 3         27.6        -6.000000  W
 4         25.8        -7.400000  L
 ...        ...              ... ..
 1670      21.0        -6.333333  L
 1671      21.5       -14.000000  W
 1672      12.0       -22.000000  L
 1673       NaN              NaN  L
 1674       NaN              NaN  L

 [1675 rows x 17 columns],
      TEAM_ABBREVIATION     GAME_ID  GAME_DATE      MATCHUP  \
 0                  BOS  0022400769 2025-02-12  BOS vs. SAS
 1                  BOS  0022400759 2025-02-10    BOS @ MIA
 2                  BOS  0022400748 2025-02-08    BOS @ NYK
 3                  BOS  0022400728 2025-02-06  BOS vs. DAL
 4                  BOS  0022400710 2025-02-04    BOS @ CLE
 ...                ...         ...        ...          ...
 1799               BOS  0020700524 2008-01-11    BOS @ NJN
 1800               BOS  0020700511 2008-01-09  BOS vs. CHA
 1801               BOS  0020700485 2008-01-05    BOS @ DET
 1802               BOS  0020700475 2008-01-04  BOS vs. MEM
 1803               BOS  0020700462 2008-01-02  BOS vs. HOU

       Win_Rate_Last_5_Custom  MEAN_PTS_RECENT_5GAMES  MEAN_FGMS  MEAN_FGAS  \
 0                        0.8              116.800000  42.600000  88.200000
 1                        0.8              119.800000  43.200000  88.000000
 2                        0.8              118.000000  42.200000  88.400000
 3                        0.8              116.400000  40.800000  86.600000
 4                        0.8              118.400000  41.600000  87.600000
 ...                      ...                     ...        ...        ...
 1799                     NaN               91.666667  32.333333  74.666667
 1800                     NaN               96.000000  33.500000  76.000000
 1801                     NaN              100.000000  36.000000  78.000000
 1802                     NaN                     NaN        NaN        NaN
 1803                     NaN                     NaN        NaN        NaN

       MEAN_FG3MS  MEAN_FG3AS  MEAN_FTMS  MEAN_FTAS  MEAN_OREB  MEAN_DREB  \
 0      18.000000   45.200000  13.600000  16.200000   9.000000  37.200000
 1      17.800000   42.800000  15.600000  19.800000   9.400000  33.400000
 2      17.600000   43.800000  16.000000  20.400000   8.400000  33.800000
 3      17.400000   44.200000  17.400000  21.400000   7.600000  34.800000
 4      18.000000   45.000000  17.200000  21.600000   8.000000  34.000000
 ...          ...         ...        ...        ...        ...        ...
 1799    4.666667   17.333333  22.333333  27.333333  10.666667  33.666667
 1800    5.000000   16.000000  24.000000  29.000000  11.000000  35.500000
 1801    6.000000   16.000000  22.000000  25.000000   7.000000  36.000000
 1802         NaN         NaN        NaN        NaN        NaN        NaN
 1803         NaN         NaN        NaN        NaN        NaN        NaN

        MEAN_AST  MEAN_PLUS_MINUS WL
 0     27.000000        10.600000  W
 1     28.600000         7.400000  W
 2     30.800000         6.400000  W
 3     29.000000         7.400000  L
 4     30.400000         9.000000  W
 ...         ...              ... ..
 1799  18.333333        -0.333333  W
 1800  18.000000         5.500000  L
 1801  22.000000         4.000000  W
 1802        NaN              NaN  W
 1803        NaN              NaN  W

 [1804 rows x 17 columns],
      TEAM_ABBREVIATION     GAME_ID  GAME_DATE      MATCHUP  \
 0                  CLE  0022400774 2025-02-12    CLE @ TOR
 1                  CLE  0022400755 2025-02-10  CLE vs. MIN
 2                  CLE  0022400735 2025-02-07    CLE @ WAS
 3                  CLE  0022400718 2025-02-05    CLE @ DET
 4                  CLE  0022400710 2025-02-04  CLE vs. BOS
 ...                ...         ...        ...          ...
 1685               CLE  0020700510 2008-01-09    CLE @ ATL
 1686               CLE  0020700503 2008-01-08  CLE vs. SEA
 1687               CLE  0020700490 2008-01-06    CLE @ TOR
 1688               CLE  0020700477 2008-01-04  CLE vs. SAC
 1689               CLE  0020700460 2008-01-02  CLE vs. ATL

       Win_Rate_Last_5_Custom  MEAN_PTS_RECENT_5GAMES  MEAN_FGMS  MEAN_FGAS  \
 0                        0.8                   125.8  45.200000       91.4
 1                        0.8                   127.6  46.200000       90.8
 2                        0.8                   126.0  47.400000       92.0
 3                        0.8                   124.4  47.200000       93.2
 4                        0.8                   129.6  49.400000       93.2
 ...                      ...                     ...        ...        ...
 1685                     NaN                    95.0  34.666667       87.0
 1686                     NaN                    95.0  35.000000       88.0
 1687                     NaN                    97.0  35.000000       91.0
 1688                     NaN                     NaN        NaN        NaN
 1689                     NaN                     NaN        NaN        NaN

       MEAN_FG3MS  MEAN_FG3AS  MEAN_FTMS  MEAN_FTAS  MEAN_OREB  MEAN_DREB  \
 0           17.2   40.600000  18.200000  22.000000  11.400000  37.200000
 1           16.4   39.800000  18.800000  22.000000  10.600000  38.000000
 2           15.8   40.600000  15.400000  18.400000  10.200000  38.600000
 3           15.0   41.800000  15.000000  18.200000  10.400000  39.800000
 4           16.2   41.800000  14.600000  18.200000   9.600000  38.400000
 ...          ...         ...        ...        ...        ...        ...
 1685         7.0   18.333333  18.666667  25.333333  16.333333  30.666667
 1686         7.0   17.000000  18.000000  26.000000  19.500000  28.000000
 1687         5.0   16.000000  22.000000  31.000000  19.000000  24.000000
 1688         NaN         NaN        NaN        NaN        NaN        NaN
 1689         NaN         NaN        NaN        NaN        NaN        NaN

        MEAN_AST  MEAN_PLUS_MINUS WL
 0     28.800000        14.000000  W
 1     30.200000        14.200000  W
 2     29.600000        16.200000  W
 3     29.600000        19.400000  W
 4     31.600000        20.000000  L
 ...         ...              ... ..
 1685  19.666667         7.666667  L
 1686  19.500000         3.500000  W
 1687  24.000000         4.000000  W
 1688        NaN              NaN  W
 1689        NaN              NaN  W

 [1690 rows x 17 columns],
      TEAM_ABBREVIATION     GAME_ID  GAME_DATE      MATCHUP  \
 0                  NOP  0022400785 2025-02-13  NOP vs. SAC
 1                  NOP  0022400777 2025-02-12  NOP vs. SAC
 2                  NOP  0022400761 2025-02-10    NOP @ OKC
 3                  NOP  0022400750 2025-02-08    NOP @ SAC
 4                  NOP  0022400726 2025-02-05    NOP @ DEN
 ...                ...         ...        ...          ...
 1604               NOH  0020700528 2008-01-11  NOH vs. MIA
 1605               NOH  0020700515 2008-01-09  NOH vs. LAL
 1606               NOH  0020700488 2008-01-05    NOH @ PHX
 1607               NOH  0020700483 2008-01-04    NOH @ GSW
 1608               NOH  0020700468 2008-01-02    NOH @ LAC

       Win_Rate_Last_5_Custom  MEAN_PTS_RECENT_5GAMES  MEAN_FGMS  MEAN_FGAS  \
 0                        0.0              112.400000  40.800000  89.400000
 1                        0.0              113.400000  40.800000  88.600000
 2                        0.0              120.400000  43.800000  91.400000
 3                        0.0              117.600000  43.000000  91.200000
 4                        0.0              112.200000  40.800000  89.400000
 ...                      ...                     ...        ...        ...
 1604                     NaN              104.666667  40.333333  89.333333
 1605                     NaN              117.000000  45.000000  92.000000
 1606                     NaN              116.000000  43.000000  89.000000
 1607                     NaN                     NaN        NaN        NaN
 1608                     NaN                     NaN        NaN        NaN

       MEAN_FG3MS  MEAN_FG3AS  MEAN_FTMS  MEAN_FTAS  MEAN_OREB  MEAN_DREB  \
 0           12.0   32.400000       18.8  23.800000       10.6  29.400000
 1           13.4   33.400000       18.4  24.000000       10.2  31.400000
 2           14.4   34.200000       18.4  22.800000        9.8  30.600000
 3           12.8   32.600000       18.8  23.800000       10.0  31.800000
 4           12.4   33.000000       18.2  23.800000        9.8  32.200000
 ...          ...         ...        ...        ...        ...        ...
 1604         8.0   21.666667       16.0  21.333333       15.0  25.666667
 1605        11.5   27.000000       15.5  20.000000       14.5  26.500000
 1606        12.0   27.000000       18.0  23.000000       14.0  31.000000
 1607         NaN         NaN        NaN        NaN        NaN        NaN
 1608         NaN         NaN        NaN        NaN        NaN        NaN

        MEAN_AST  MEAN_PLUS_MINUS WL
 0     25.400000            -17.2  W
 1     23.000000            -16.0  L
 2     25.400000             -9.0  L
 3     24.200000             -9.8  L
 4     23.200000            -11.0  L
 ...         ...              ... ..
 1604  18.666667             -4.0  W
 1605  22.000000              8.5  L
 1606  26.000000             12.0  W
 1607        NaN              NaN  W
 1608        NaN              NaN  W

 [1609 rows x 17 columns],
      TEAM_ABBREVIATION     GAME_ID  GAME_DATE      MATCHUP  \
 0                  CHI  0022400775 2025-02-12  CHI vs. DET
 1                  CHI  0022400766 2025-02-11  CHI vs. DET
 2                  CHI  0022400745 2025-02-08  CHI vs. GSW
 3                  CHI  0022400723 2025-02-05    CHI @ MIN
 4                  CHI  0022400714 2025-02-04  CHI vs. MIA
 ...                ...         ...        ...          ...
 1626               CHI  0020700523 2008-01-11    CHI @ PHI
 1627               CHI  0020700506 2008-01-08  CHI vs. NYK
 1628               CHI  0020700486 2008-01-05  CHI vs. SAC
 1629               CHI  0020700469 2008-01-03  CHI vs. POR
 1630               CHI  0020700458 2008-01-02    CHI @ CHA

       Win_Rate_Last_5_Custom  MEAN_PTS_RECENT_5GAMES  MEAN_FGMS  MEAN_FGAS  \
 0                        0.2                   112.6  39.800000       88.4
 1                        0.4                   118.6  41.800000       86.2
 2                        0.4                   116.4  42.200000       88.8
 3                        0.6                   120.6  44.000000       91.8
 4                        0.4                   113.4  41.600000       90.6
 ...                      ...                     ...        ...        ...
 1626                     NaN                   101.0  38.333333       94.0
 1627                     NaN                   101.5  36.500000       93.5
 1628                     NaN                   109.0  43.000000      104.0
 1629                     NaN                     NaN        NaN        NaN
 1630                     NaN                     NaN        NaN        NaN

       MEAN_FG3MS  MEAN_FG3AS  MEAN_FTMS  MEAN_FTAS  MEAN_OREB  MEAN_DREB  \
 0      15.400000   43.000000  17.600000  22.800000   8.800000  30.400000
 1      17.000000   41.600000  18.000000  22.400000   7.800000  33.000000
 2      16.600000   43.600000  15.400000  18.600000   8.600000  35.400000
 3      19.000000   47.000000  13.600000  15.800000  10.000000  36.600000
 4      17.600000   46.400000  12.600000  15.400000  11.200000  37.600000
 ...          ...         ...        ...        ...        ...        ...
 1626    5.666667   21.666667  18.666667  24.333333  18.333333  28.333333
 1627    6.000000   24.500000  22.500000  29.500000  18.000000  29.500000
 1628    4.000000   24.000000  19.000000  23.000000  18.000000  31.000000
 1629         NaN         NaN        NaN        NaN        NaN        NaN
 1630         NaN         NaN        NaN        NaN        NaN        NaN

       MEAN_AST  MEAN_PLUS_MINUS WL
 0         26.8       -15.800000  L
 1         29.2        -4.600000  L
 2         30.0        -4.800000  L
 3         32.0         0.600000  L
 4         29.8        -3.600000  W
 ...        ...              ... ..
 1626      22.0        -3.333333  W
 1627      24.0        -2.500000  L
 1628      24.0        -6.000000  W
 1629       NaN              NaN  L
 1630       NaN              NaN  W

 [1631 rows x 17 columns],
      TEAM_ABBREVIATION     GAME_ID  GAME_DATE      MATCHUP  \
 0                  DAL  0022400786 2025-02-13  DAL vs. MIA
 1                  DAL  0022400782 2025-02-12  DAL vs. GSW
 2                  DAL  0022400762 2025-02-10  DAL vs. SAC
 3                  DAL  0022400741 2025-02-08  DAL vs. HOU
 4                  DAL  0022400728 2025-02-06    DAL @ BOS
 ...                ...         ...        ...          ...
 1688               DAL  0020700533 2008-01-11    DAL @ SEA
 1689               DAL  0020700516 2008-01-09  DAL vs. DET
 1690               DAL  0020700492 2008-01-06    DAL @ MIN
 1691               DAL  0020700481 2008-01-04  DAL vs. MIA
 1692               DAL  0020700466 2008-01-02  DAL vs. GSW

       Win_Rate_Last_5_Custom  MEAN_PTS_RECENT_5GAMES  MEAN_FGMS  MEAN_FGAS  \
 0                        0.6                   119.6  43.800000       87.6
 1                        0.4                   117.6  43.400000       90.8
 2                        0.4                   112.4  41.000000       89.2
 3                        0.4                   116.6  43.600000       91.8
 4                        0.4                   117.2  43.600000       92.6
 ...                      ...                     ...        ...        ...
 1688                     NaN                    99.0  37.666667       77.0
 1689                     NaN                    97.5  35.500000       78.5
 1690                     NaN                    94.0  33.000000       75.0
 1691                     NaN                     NaN        NaN        NaN
 1692                     NaN                     NaN        NaN        NaN

       MEAN_FG3MS  MEAN_FG3AS  MEAN_FTMS  MEAN_FTAS  MEAN_OREB  MEAN_DREB  \
 0           13.6   32.400000  18.400000  24.400000        9.8  29.000000
 1           12.4   33.800000  18.400000  24.400000       10.0  30.000000
 2           11.6   33.000000  18.800000  23.800000       12.2  30.400000
 3           13.2   37.000000  16.200000  20.400000       13.0  31.200000
 4           14.2   39.400000  15.800000  20.200000       14.0  33.400000
 ...          ...         ...        ...        ...        ...        ...
 1688         8.0   18.333333  15.666667  20.666667        9.0  29.666667
 1689         7.0   19.500000  19.500000  25.500000       10.0  29.000000
 1690         8.0   19.000000  20.000000  27.000000        5.0  29.000000
 1691         NaN         NaN        NaN        NaN        NaN        NaN
 1692         NaN         NaN        NaN        NaN        NaN        NaN

        MEAN_AST  MEAN_PLUS_MINUS WL
 0     25.800000         3.800000  W
 1     26.200000        -5.600000  W
 2     24.000000        -8.400000  L
 3     25.600000       -10.400000  W
 4     27.000000        -7.400000  W
 ...         ...              ... ..
 1688  20.333333        14.666667  W
 1689  21.000000        14.000000  W
 1690  20.000000         5.000000  W
 1691        NaN              NaN  W
 1692        NaN              NaN  W

 [1693 rows x 17 columns],
      TEAM_ABBREVIATION     GAME_ID  GAME_DATE      MATCHUP  \
 0                  DEN  0022400780 2025-02-12  DEN vs. POR
 1                  DEN  0022400763 2025-02-10  DEN vs. POR
 2                  DEN  0022400749 2025-02-08    DEN @ PHX
 3                  DEN  0022400730 2025-02-06  DEN vs. ORL
 4                  DEN  0022400726 2025-02-05  DEN vs. NOP
 ...                ...         ...        ...          ...
 1681               DEN  0020700530 2008-01-11  DEN vs. ORL
 1682               DEN  0020700498 2008-01-07    DEN @ PHX
 1683               DEN  0020700496 2008-01-06  DEN vs. PHI
 1684               DEN  0020700478 2008-01-04    DEN @ MIN
 1685               DEN  0020700470 2008-01-03  DEN vs. SAS

       Win_Rate_Last_5_Custom  MEAN_PTS_RECENT_5GAMES  MEAN_FGMS  MEAN_FGAS  \
 0                        1.0                   129.8       50.4       91.6
 1                        1.0                   122.0       46.6       91.0
 2                        1.0                   125.0       48.4       89.0
 3                        0.8                   125.0       47.8       89.2
 4                        0.6                   120.4       46.8       89.2
 ...                      ...                     ...        ...        ...
 1681                     NaN                   114.0       43.0       90.0
 1682                     NaN                   113.5       44.0       87.0
 1683                     NaN                   118.0       44.0       81.0
 1684                     NaN                     NaN        NaN        NaN
 1685                     NaN                     NaN        NaN        NaN

       MEAN_FG3MS  MEAN_FG3AS  MEAN_FTMS  MEAN_FTAS  MEAN_OREB  MEAN_DREB  \
 0      12.800000   33.200000  16.200000       19.8  12.000000       36.6
 1      12.600000   35.600000  16.200000       19.8  12.400000       37.2
 2      11.800000   33.200000  16.400000       20.0  11.200000       34.2

In [190]:
team = []
team_ = []
for i in range(len(game_round)-1):
    for j in range(i+1, len(game_round)):
        team_.append(pd.merge(game_round[i], game_round[j], on='GAME_ID'))
    team.append(pd.concat(team_[0:len(game_round)-i]))
    team_ = []

In [189]:
game_round = []
for game in game_final:
    game = game.round(2)
    game_round.append(game)

In [187]:
game_round[0]

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612737,ATL,Atlanta Hawks,0022400773,2025-02-12,ATL @ NYK,L,264,148,55,110,0.50,14,38,0.37,24,35,0.69,19,28,47,43,12.0,10,12,29,-1.0
1,22024,1610612737,ATL,Atlanta Hawks,0022400756,2025-02-10,ATL @ ORL,W,240,112,38,77,0.49,12,32,0.38,24,28,0.86,6,33,39,29,10.0,3,16,17,6.0
2,22024,1610612737,ATL,Atlanta Hawks,0022400744,2025-02-08,ATL @ WAS,W,240,125,47,97,0.48,18,44,0.41,13,17,0.76,8,33,41,36,6.0,7,11,19,14.0
3,22024,1610612737,ATL,Atlanta Hawks,0022400736,2025-02-07,ATL vs. MIL,W,240,115,45,92,0.49,13,36,0.36,12,18,0.67,11,41,52,29,6.0,6,11,14,5.0
4,22024,1610612737,ATL,Atlanta Hawks,0022400719,2025-02-05,ATL vs. SAS,L,240,125,48,91,0.53,16,42,0.38,13,18,0.72,8,37,45,33,5.0,5,20,14,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1670,22007,1610612737,ATL,Atlanta Hawks,0020700526,2008-01-11,ATL vs. WAS,L,266,98,41,88,0.47,4,11,0.36,12,22,0.55,14,33,47,30,5.0,4,10,18,-4.0
1671,22007,1610612737,ATL,Atlanta Hawks,0020700510,2008-01-09,ATL vs. CLE,W,242,90,33,72,0.46,0,4,0.00,24,34,0.71,14,33,47,20,6.0,6,17,24,9.0
1672,22007,1610612737,ATL,Atlanta Hawks,0020700484,2008-01-05,ATL vs. NJN,L,239,107,41,84,0.49,2,14,0.14,23,33,0.70,14,33,47,31,13.0,7,21,30,-6.0
1673,22007,1610612737,ATL,Atlanta Hawks,0020700474,2008-01-04,ATL @ IND,L,239,91,32,75,0.43,1,10,0.10,26,32,0.81,7,28,35,12,8.0,7,17,25,-22.0
1674,22007,1610612737,ATL,Atlanta Hawks,0020700460,2008-01-02,ATL @ CLE,L,241,94,31,76,0.41,5,11,0.46,27,34,0.79,12,23,35,13,10.0,2,9,23,-4.0

In [183]:
team[3]

,SEASON_ID_x,TEAM_ID_x,TEAM_ABBREVIATION_x,TEAM_NAME_x,GAME_ID,GAME_DATE_x,MATCHUP_x,WL_x,MIN_x,PTS_x,FGM_x,FGA_x,FG_PCT_x,FG3M_x,FG3A_x,FG3_PCT_x,FTM_x,...,FGA_y,FG_PCT_y,FG3M_y,FG3A_y,FG3_PCT_y,FTM_y,FTA_y,FT_PCT_y,OREB_y,DREB_y,REB_y,AST_y,STL_y,BLK_y,TOV_y,PF_y,PLUS_MINUS_y
0,22024,1610612740,NOP,New Orleans Pelicans,0022400557,2025-01-14,NOP @ CHI,W,240,119,42,96,0.44,14,50,0.28,21,...,102,0.44,14,43.0,0.33,9,12,0.75,18.0,39.0,57.0,31,8.0,6,15,19,-6.0
1,22024,1610612740,NOP,New Orleans Pelicans,0022400069,2024-10-23,NOP vs. CHI,W,241,123,45,97,0.46,14,37,0.38,19,...,86,0.49,10,34.0,0.29,17,25,0.68,9.0,38.0,47.0,26,4.0,2,21,16,-12.0
2,22023,1610612740,NOP,New Orleans Pelicans,0022300823,2024-02-25,NOP vs. CHI,L,240,106,40,88,0.46,16,41,0.39,10,...,95,0.43,13,40.0,0.32,19,21,0.90,12.0,37.0,49.0,29,12.0,0,9,15,8.0
3,22023,1610612740,NOP,New Orleans Pelicans,0022300285,2023-12-02,NOP @ CHI,L,242,118,41,82,0.50,8,25,0.32,28,...,88,0.55,17,40.0,0.42,11,15,0.73,12.0,29.0,41.0,32,6.0,8,13,21,6.0
4,22022,1610612740,NOP,New Orleans Pelicans,0022200217,2022-11-16,NOP vs. CHI,W,240,124,43,85,0.51,17,33,0.52,21,...,89,0.49,11,32.0,0.34,11,17,0.65,7.0,30.0,37.0,25,2.0,1,12,18,-14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35,12009,1610612740,NOH,New Orleans Hornets,0010900024,2009-10-08,NOH @ CHA,L,240,101,32,76,0.42,8,20,0.40,29,...,65,0.45,6,15.0,0.40,44,58,0.76,7.0,28.0,35.0,16,11.0,7,16,36,7.0
36,22008,1610612740,NOH,New Orleans Hornets,0020800316,2008-12-10,NOH vs. CHA,W,240,105,40,82,0.49,12,20,0.60,13,...,82,0.42,6,12.0,0.50,15,21,0.71,13.0,25.0,38.0,16,8.0,4,12,18,-16.0
37,22008,1610612740,NOH,New Orleans Hornets,0020800066,2008-11-07,NOH @ CHA,L,241,89,32,76,0.42,11,28,0.39,14,...,67,0.42,7,18.0,0.39,29,31,0.94,10.0,27.0,37.0,15,10.0,2,14,22,3.0
38,22008,1610612740,NOH,New Orleans Hornets,1520800009,2008-07-13,NOH vs. CHA,W,198,77,24,63,0.38,4,13,0.31,25,...,58,0.45,1,8.0,0.12,22,31,0.71,9.0,23.0,32.0,7,0.0,5,23,28,-2.0
39,22007,1610612740,NOH,New Orleans Hornets,0020700579,2008-01-18,NOH vs. CHA,W,242,112,47,78,0.60,7,13,0.54,11,...,88,0.42,4,16.0,0.25,6,7,0.86,13.0,26.0,39.0,27,4.0,2,11,19,-28.0

In [191]:
game_true = pd.concat(team).reset_index(drop=True)
game_true.to_csv('data/game_true.csv')

In [192]:
game_true

,TEAM_ABBREVIATION_x,GAME_ID,GAME_DATE_x,MATCHUP_x,Win_Rate_Last_5_Custom_x,MEAN_PTS_RECENT_5GAMES_x,MEAN_FGMS_x,MEAN_FGAS_x,MEAN_FG3MS_x,MEAN_FG3AS_x,MEAN_FTMS_x,MEAN_FTAS_x,MEAN_OREB_x,MEAN_DREB_x,MEAN_AST_x,MEAN_PLUS_MINUS_x,WL_x,TEAM_ABBREVIATION_y,GAME_DATE_y,MATCHUP_y,Win_Rate_Last_5_Custom_y,MEAN_PTS_RECENT_5GAMES_y,MEAN_FGMS_y,MEAN_FGAS_y,MEAN_FG3MS_y,MEAN_FG3AS_y,MEAN_FTMS_y,MEAN_FTAS_y,MEAN_OREB_y,MEAN_DREB_y,MEAN_AST_y,MEAN_PLUS_MINUS_y,WL_y
0,ATL,0022400587,2025-01-18,ATL @ BOS,0.6,115.2,42.2,94.0,15.8,41.2,15.0,19.4,12.4,32.4,29.4,-2.0,W,BOS,2025-01-18,BOS vs. ATL,0.6,110.6,40.0,88.8,13.8,40.6,16.8,21.0,12.2,32.8,24.8,2.0,L
1,ATL,0022400001,2024-11-12,ATL @ BOS,0.4,114.8,43.4,92.6,12.0,34.0,16.0,20.6,11.8,31.2,28.8,-4.6,W,BOS,2024-11-12,BOS vs. ATL,0.8,113.8,39.2,89.4,17.2,52.8,18.2,21.6,8.8,35.6,24.4,8.8,L
2,ATL,0022400157,2024-11-04,ATL vs. BOS,0.2,116.8,42.2,89.4,14.2,39.2,18.2,23.2,10.6,31.4,28.6,-6.4,L,BOS,2024-11-04,BOS @ ATL,0.8,122.4,40.4,90.8,17.6,49.2,24.0,28.6,10.8,31.4,22.0,7.8,W
3,ATL,0022301060,2024-03-28,ATL vs. BOS,0.6,118.4,44.4,90.2,15.0,39.0,14.6,19.0,11.6,29.6,30.4,2.6,W,BOS,2024-03-28,BOS @ ATL,0.8,122.4,44.2,90.0,17.6,44.0,16.4,21.0,11.6,29.2,27.0,12.8,L
4,ATL,0022301034,2024-03-25,ATL vs. BOS,0.4,116.8,42.8,91.0,15.6,38.2,15.6,19.4,11.2,30.2,32.6,2.4,W,BOS,2024-03-25,BOS @ ATL,1.0,124.8,43.4,88.4,20.2,46.4,17.8,22.0,11.6,30.2,28.8,18.4,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24799,DET,0020800338,2008-12-13,DET @ CHA,0.4,96.0,38.4,77.4,4.8,13.4,14.4,18.8,7.2,27.4,22.4,-2.8,W,CHA,2008-12-13,CHA vs. DET,0.0,89.0,33.4,75.4,6.2,15.0,16.0,22.8,10.6,25.4,19.4,-10.0,L
24800,DET,0020800042,2008-11-03,DET @ CHA,0.8,97.2,36.4,82.6,5.4,13.2,19.0,24.2,12.6,30.4,22.0,7.0,W,CHA,2008-11-03,CHA vs. DET,0.2,92.4,31.8,78.0,3.6,11.8,25.2,33.2,13.4,28.8,18.4,-4.4,L
24801,DET,1520800037,2008-07-18,DET vs. CHA,0.4,74.4,26.4,59.8,2.0,6.6,19.6,26.6,9.0,22.6,12.2,-1.4,W,CHA,2008-07-18,CHA @ DET,0.4,94.4,33.4,70.6,3.8,10.6,23.8,31.4,11.6,27.0,16.2,2.2,L
24802,DET,0020700747,2008-02-10,DET vs. CHA,1.0,96.2,37.2,79.8,6.4,13.8,15.4,21.4,12.4,30.4,24.4,8.8,W,CHA,2008-02-10,CHA @ DET,0.0,96.4,37.2,86.4,6.6,19.8,15.4,24.6,13.2,30.0,21.6,-17.8,L
24803,DET,0020700535,2008-01-12,DET @ CHA,0.6,93.6,35.4,78.8,7.0,16.4,15.8,20.2,9.8,29.4,20.8,3.2,W,CHA,2008-01-12,CHA vs. DET,0.4,100.2,38.6,80.4,5.6,16.0,17.4,24.0,9.4,34.0,22.8,2.2,L

In [221]:
game_true.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24781 entries, 0 to 24803
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   GAME_DATE_x               24781 non-null  object
 1   Win_Rate_Last_5_Custom_x  24705 non-null  float64
 2   MEAN_PTS_RECENT_5GAMES_x  24751 non-null  float64
 3   MEAN_FGMS_x               24751 non-null  float64
 4   MEAN_FGAS_x               24751 non-null  float64
 5   MEAN_FG3MS_x              24751 non-null  float64
 6   MEAN_FG3AS_x              24751 non-null  float64
 7   MEAN_FTMS_x               24751 non-null  float64
 8   MEAN_FTAS_x               24751 non-null  float64
 9   MEAN_OREB_x               24751 non-null  float64
 10  MEAN_DREB_x               24751 non-null  float64
 11  MEAN_AST_x                24751 non-null  float64
 12  MEAN_PLUS_MINUS_x         24751 non-null  float64
 13  Win_Rate_Last_5_Custom_y  24707 non-null  float64
 14  MEAN_PTS_RECENT_5GAMES_y  24751 non-null  float64
 15  MEAN_FGMS_y               24751 non-null  float64
 16  MEAN_FGAS_y               24751 non-null  float64
 17  MEAN_FG3MS_y              24751 non-null  float64
 18  MEAN_FG3AS_y              24751 non-null  float64
 19  MEAN_FTMS_y               24751 non-null  float64
 20  MEAN_FTAS_y               24751 non-null  float64
 21  MEAN_OREB_y               24751 non-null  float64
 22  MEAN_DREB_y               24751 non-null  float64
 23  MEAN_AST_y                24751 non-null  float64
 24  MEAN_PLUS_MINUS_y         24751 non-null  float64
 25  WL                        24781 non-null  int64
dtypes: float64(24), int64(1), object(1)
memory usage: 5.1+ MB

In [222]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 데이터 로드 및 불필요한 컬럼 제거
df = game_true_test_1.drop(columns=["GAME_DATE"])

# 차이 변수 생성
df["PTS_DIFF"] = df["MEAN_PTS_RECENT_5GAMES_x"] - df["MEAN_PTS_RECENT_5GAMES_y"]
df["FGMS_DIFF"] = df["MEAN_FGMS_x"] - df["MEAN_FGMS_y"]
df = df.drop(columns=[col for col in df.columns if col.endswith("_x") or col.endswith("_y")])

# 독립변수와 종속변수 분리
X = df.drop(columns=["WL"])
y = df["WL"]

# 데이터 스케일링
scaler = StandardScaler()
X = scaler.fit_transform(X)

# 훈련/테스트 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [227]:
# 로지스틱 회귀 모델
logistic_model = LogisticRegression(max_iter=500)
logistic_model.fit(X_train, y_train)

# 예측 및 평가
y_pred_logistic = logistic_model.predict(X_test)
print("Logistic Regression Accuracy:", accuracy_score(y_test, y_pred_logistic))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_logistic))
print("Classification Report:\n", classification_report(y_test, y_pred_logistic))

Logistic Regression Accuracy: 0.554437588989084
Confusion Matrix:
 [[2656 2433]
 [2261 3185]]
Classification Report:
               precision    recall  f1-score   support

           0       0.54      0.52      0.53      5089
           1       0.57      0.58      0.58      5446

    accuracy                           0.55     10535
   macro avg       0.55      0.55      0.55     10535
weighted avg       0.55      0.55      0.55     10535

In [224]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# 예측 및 평가
y_pred_rf = rf_model.predict(X_test)
print("Random Forest Accuracy:", accuracy_score(y_test, y_pred_rf))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_rf))
print("Classification Report:\n", classification_report(y_test, y_pred_rf))

Random Forest Accuracy: 0.5067869008068343
Confusion Matrix:
 [[2517 2572]
 [2624 2822]]
Classification Report:
               precision    recall  f1-score   support

           0       0.49      0.49      0.49      5089
           1       0.52      0.52      0.52      5446

    accuracy                           0.51     10535
   macro avg       0.51      0.51      0.51     10535
weighted avg       0.51      0.51      0.51     10535

In [225]:
# XGBoost 모델
xgb_model = XGBClassifier(use_label_encoder=False, eval_metric='logloss', random_state=42)
xgb_model.fit(X_train, y_train)

# 예측 및 평가
y_pred_xgb = xgb_model.predict(X_test)
print("XGBoost Accuracy:", accuracy_score(y_test, y_pred_xgb))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_xgb))
print("Classification Report:\n", classification_report(y_test, y_pred_xgb))

XGBoost Accuracy: 0.5396298054105363
Confusion Matrix:
 [[2679 2410]
 [2440 3006]]
Classification Report:
               precision    recall  f1-score   support

           0       0.52      0.53      0.52      5089
           1       0.56      0.55      0.55      5446

    accuracy                           0.54     10535
   macro avg       0.54      0.54      0.54     10535
weighted avg       0.54      0.54      0.54     10535

C:\Users\4545\anaconda3\lib\site-packages\xgboost\core.py:158: UserWarning: [16:40:18] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

In [228]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# 데이터 스케일링
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 딥러닝 모델 설계
def create_model():
    model = Sequential()
    # 입력층 (첫 번째 은닉층)
    model.add(Dense(128, input_dim=X_train_scaled.shape[1], activation='relu'))
    model.add(Dropout(0.3))  # 과적합 방지를 위한 드롭아웃

    # 두 번째 은닉층
    model.add(Dense(64, activation='relu'))
    model.add(Dropout(0.3))

    # 출력층
    model.add(Dense(1, activation='sigmoid'))  # 이진 분류이므로 sigmoid 사용

    # 모델 컴파일
    model.compile(optimizer='adam',
                  loss='binary_crossentropy',  # 이진 분류용 손실 함수
                  metrics=['accuracy'])
    return model

# 모델 생성
model = create_model()

# 학습
history = model.fit(X_train_scaled, y_train, 
                    epochs=50,                # 학습 횟수
                    batch_size=32,           # 배치 크기
                    validation_data=(X_test_scaled, y_test), 
                    verbose=1)

# 평가
y_pred_dl = (model.predict(X_test_scaled) > 0.5).astype("int32")

# 성능 평가
print("Deep Learning Accuracy:", accuracy_score(y_test, y_pred_dl))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_dl))
print("Classification Report:\n", classification_report(y_test, y_pred_dl))

Epoch 1/50
1317/1317 [==============================] - 11s 6ms/step - loss: 0.6865 - accuracy: 0.5513 - val_loss: 0.6864 - val_accuracy: 0.5519
Epoch 2/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6850 - accuracy: 0.5546 - val_loss: 0.6865 - val_accuracy: 0.5459
Epoch 3/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6849 - accuracy: 0.5560 - val_loss: 0.6881 - val_accuracy: 0.5462
Epoch 4/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6848 - accuracy: 0.5562 - val_loss: 0.6857 - val_accuracy: 0.5498
Epoch 5/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6852 - accuracy: 0.5557 - val_loss: 0.6863 - val_accuracy: 0.5491
Epoch 6/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6848 - accuracy: 0.5573 - val_loss: 0.6861 - val_accuracy: 0.5488
Epoch 7/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6847 - accuracy: 0.5572 - val_loss: 0.6864 - val_accuracy: 0.5482
Epoch 8/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6848 - accuracy: 0.5564 - val_loss: 0.6856 - val_accuracy: 0.5499
Epoch 9/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6851 - accuracy: 0.5583 - val_loss: 0.6866 - val_accuracy: 0.5481
Epoch 10/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6849 - accuracy: 0.5571 - val_loss: 0.6855 - val_accuracy: 0.5515
Epoch 11/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6844 - accuracy: 0.5582 - val_loss: 0.6864 - val_accuracy: 0.5467
Epoch 12/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6847 - accuracy: 0.5562 - val_loss: 0.6860 - val_accuracy: 0.5505
Epoch 13/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6849 - accuracy: 0.5575 - val_loss: 0.6863 - val_accuracy: 0.5494
Epoch 14/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6848 - accuracy: 0.5574 - val_loss: 0.6860 - val_accuracy: 0.5479
Epoch 15/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6845 - accuracy: 0.5565 - val_loss: 0.6861 - val_accuracy: 0.5487
Epoch 16/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6849 - accuracy: 0.5572 - val_loss: 0.6857 - val_accuracy: 0.5499
Epoch 17/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6845 - accuracy: 0.5585 - val_loss: 0.6861 - val_accuracy: 0.5512
Epoch 18/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6846 - accuracy: 0.5581 - val_loss: 0.6859 - val_accuracy: 0.5534
Epoch 19/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6849 - accuracy: 0.5561 - val_loss: 0.6861 - val_accuracy: 0.5492
Epoch 20/50
1317/1317 [==============================] - 7s 6ms/step - loss: 0.6847 - accuracy: 0.5563 - val_loss: 0.6856 - val_accuracy: 0.5504
Epoch 21/50
1317/1317 [==============================] - 7s 6ms/step - loss: 0.6845 - accuracy: 0.5572 - val_loss: 0.6859 - val_accuracy: 0.5488
Epoch 22/50
1317/1317 [==============================] - 7s 6ms/step - loss: 0.6849 - accuracy: 0.5573 - val_loss: 0.6859 - val_accuracy: 0.5490
Epoch 23/50
1317/1317 [==============================] - 7s 6ms/step - loss: 0.6845 - accuracy: 0.5565 - val_loss: 0.6856 - val_accuracy: 0.5503
Epoch 24/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6845 - accuracy: 0.5564 - val_loss: 0.6858 - val_accuracy: 0.5505
Epoch 25/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6847 - accuracy: 0.5567 - val_loss: 0.6856 - val_accuracy: 0.5507
Epoch 26/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6845 - accuracy: 0.5566 - val_loss: 0.6857 - val_accuracy: 0.5494
Epoch 27/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6847 - accuracy: 0.5554 - val_loss: 0.6857 - val_accuracy: 0.5486
Epoch 28/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6845 - accuracy: 0.5578 - val_loss: 0.6857 - val_accuracy: 0.5511
Epoch 29/50
1317/1317 [==============================] - 8s 6ms/step - loss: 0.6846 - accuracy: 0.5572 - val_loss: 0.6858 - val_accuracy: 0.5498
Epoch 30/50
 586/1317 [============>.................] - ETA: 4s - loss: 0.6855 - accuracy: 0.5578

KeyboardInterrupt: